---
import { Icon } from 'astro-icon/components';
import './styles.css';
import { join } from '../../utils/path.js';

interface Props {
	baseUrl: string;
	currentPage: number;
	lastPage: number;
	prevUrl?: string;
	nextUrl?: string;
	start: number;
	end: number;
	total: number;
	size: number;
}

const {
	currentPage,
	lastPage,
	baseUrl,
	prevUrl,
	nextUrl,
	start,
	end,
	total,
	size
} = Astro.props;

const TRIM_PAGE_NUMBER = 2;
const firstPageInNav = Math.max(1, currentPage - TRIM_PAGE_NUMBER);
const lastPageInNav = Math.min(lastPage, currentPage + TRIM_PAGE_NUMBER);

const navLinks = Array(lastPageInNav - firstPageInNav + 1).fill(null).map((_, i) => {
	const currentPageNumber = firstPageInNav + i;
	const href = currentPageNumber === 1 ? '' : currentPageNumber;

	return {
		label: currentPageNumber.toString(),
		url: join([baseUrl, href.toString()]),
		isCurrentPage: currentPageNumber === currentPage
	};
});
---
<nav aria-label="Post list pages">
	<div id="pagination">
		<a
			href={currentPage > 1 ? join([baseUrl, '/']) : null}
			aria-disabled={currentPage > 1 ? null : 'true'}
			id="first-page"
		>
			<Icon name="uil:angle-double-left" title="Two chevrons pointing to the left" />
			<span class="pagination-link-text">First<span class="visually-hidden"> page</span></span>
		</a>
		<a
			href={prevUrl ?? null}
			aria-disabled={prevUrl ? null : 'true'}
			id="prev-page"
		>
			<Icon name="uil:angle-left" title="A chevron pointing to the left" />
			<span class="pagination-link-text">Previous<span class="visually-hidden"> page</span></span>
		</a>

		<ol>
			{
				firstPageInNav > 1 && (
					<>
						<li><a href={join([baseUrl, '/'])}>1</a></li>
						<li><span>…</span></li>
					</>
				)
			}

			{
				navLinks.map(({ url, label, isCurrentPage }) => isCurrentPage ? (
					<li aria-current="page">
						<span>{label}</span>
						<span class="visually-hidden">(Current page)</span>
					</li>
				) : (
					<li>
						<a href={url}>{label}</a>
					</li>
				))
			}

			{
				lastPageInNav < lastPage && (
					<>
						<li><span>…</span></li>
						<li><a href={join([baseUrl, lastPage.toString()])}>{lastPage}</a></li>
					</>
				)
			}
		</ol>

		<a
			href={nextUrl ?? null}
			aria-disabled={nextUrl ? null : 'true'}
			id="next-page"
		>
			<span class="pagination-link-text">Next<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-right" title="A chevron pointing to the right" />
		</a>
		<a
			href={currentPage < lastPage ? join([baseUrl, lastPage.toString()]) : null}
			aria-disabled={currentPage < lastPage ? null : 'true'}
			id="last-page"
		>
			<span class="pagination-link-text">Last<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-double-right" title="Two chevrons pointing to the right" />
		</a>
	</div>
	<aside id="pagination-info">
		{start + 1} &mdash; {end + 1} of {total} ({size} per page)
	</aside>
</nav>
