---
import { Icon } from 'astro-icon/components';
import './styles.css';
import { join } from '../../utils/path.js';

interface Props {
	baseUrl: string;
	currentPage: number;
	lastPage: number;
	prevUrl?: string;
	nextUrl?: string;
	start: number;
	end: number;
	total: number;
	size: number;
}

const {
	currentPage,
	lastPage,
	baseUrl,
	prevUrl,
	nextUrl,
	start,
	end,
	total,
	size
} = Astro.props;

const TRIM_PAGE_NUMBER = 2;
const firstPageInNav = Math.max(1, currentPage - TRIM_PAGE_NUMBER);
const lastPageInNav = Math.min(lastPage, currentPage + TRIM_PAGE_NUMBER);

const navLinks = Array(lastPageInNav - firstPageInNav + 1).fill(null).map((_, i) => {
	const currentPageNumber = firstPageInNav + i;
	const href = currentPageNumber === 1 ? '' : currentPageNumber.toString();

	return {
		label: currentPageNumber.toString(),
		url: join([baseUrl, href]),
		isCurrentPage: currentPageNumber === currentPage
	};
});
---
<nav aria-label="Pagination">
	<div id="pagination">
		<a
			href={join([baseUrl])}
			id="first-page"
		>
			<Icon name="uil:angle-double-left" title="" role="presentation" />
			<span class="pagination-link-text">First<span class="visually-hidden"> page</span></span>
		</a>

		<a
			href={prevUrl ? join([prevUrl]) : null}
			aria-disabled={!prevUrl ? 'true' : null}
			id="prev-page"
		>
			<Icon name="uil:angle-left" title="" role="presentation" />
			<span class="pagination-link-text">Previous<span class="visually-hidden"> page</span></span>
		</a>

		<ol>
			{
				firstPageInNav > 1 && (
					<>
						<li><a href={join([baseUrl, '/'])}><span class="visually-hidden">Page </span>1</a></li>
						<li><span>…</span></li>
					</>
				)
			}

			{
				navLinks.map(({ url, label, isCurrentPage }) => (
					<li>
						<a
							href={`${url}${isCurrentPage ? '#' : ''}`}
							aria-current={isCurrentPage ? 'page' : null}
						><span class="visually-hidden">Page </span>{label}</a>
					</li>
				))
			}

			{
				lastPageInNav < lastPage && (
					<>
						<li><span>…</span></li>
						<li><a href={join([baseUrl, lastPage.toString()])}><span class="visually-hidden">Page </span>{lastPage}</a></li>
					</>
				)
			}
		</ol>

		<a
			href={nextUrl ? join([nextUrl]) : null}
			aria-disabled={!nextUrl ? 'true' : null}
			id="next-page"
		>
			<span class="pagination-link-text">Next<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-right" title="" role="presentation" />
		</a>

		<a
			href={join([baseUrl, lastPage.toString()])}
			id="last-page"
		>
			<span class="pagination-link-text">Last<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-double-right" title="" role="presentation" />
		</a>
	</div>
	<aside id="pagination-info">
		{start + 1} &mdash; {end + 1} of {total} ({size} per page)
	</aside>
</nav>
