---
import { Icon } from 'astro-icon/components';
import './styles.css';

interface Props {
	baseUrl: string,
	currentPage: number,
	lastPage: number,
	prevUrl?: string,
	nextUrl?: string,
	start: number,
	end: number,
	total: number,
	size: number
}

const {
	currentPage, lastPage,
	baseUrl,
	prevUrl, nextUrl,
	start, end, total, size
} = Astro.props;

const TRIM_PAGE_NUMBER = 2;
const firstPageInNav = Math.max(1, currentPage - TRIM_PAGE_NUMBER);
const lastPageInNav = Math.min(lastPage, currentPage + TRIM_PAGE_NUMBER);
---
<nav aria-label="Pagination">
	<div id="pagination">
		<a {...(currentPage > 1 && { href: `${baseUrl}/` })} id="first-page" aria-label="First page">
			<Icon name="uil:angle-double-left" aria-hidden="true" />
			<span class="pagination-link-text" aria-hidden="true">First</span>
		</a>
		<a {...(prevUrl && { href: prevUrl })} id="prev-page" aria-label="Previous page">
			<Icon name="uil:angle-left" aria-hidden="true" />
			<span class="pagination-link-text" aria-hidden="true">Previous</span>
		</a>

		<ol>
			{firstPageInNav > 1 && (
				<Fragment>
					<li><a href={`${baseUrl}/`}>1</a></li>
					<li><span>…</span></li>
				</Fragment>
			)}

			{Array(lastPageInNav - firstPageInNav + 1).fill(null).map((_, i) => {
				const currentPageNumber = firstPageInNav + i;
				const href = currentPageNumber === 1 ? '' : currentPageNumber;

				if (currentPageNumber === currentPage) {
					return <li><span>{currentPageNumber}</span></li>;
				}

				return <li><a href={`${baseUrl}/${href}`}>{currentPageNumber}</a></li>;
			})}

			{lastPageInNav < lastPage && (
				<Fragment>
					<li><span>…</span></li>
					<li><a href={`${baseUrl}/${lastPage}`}>{lastPage}</a></li>
				</Fragment>
			)}
		</ol>

		<a {...(nextUrl && { href: nextUrl })} id="next-page" aria-label="Next page">
			<span class="pagination-link-text" aria-hidden="true">Next</span>
			<Icon name="uil:angle-right" aria-hidden="true" />
		</a>
		<a {...(currentPage < lastPage && { href: `${baseUrl}/${lastPage}` })} id="last-page" aria-label="Last page">
			<span class="pagination-link-text" aria-hidden="true">Last</span>
			<Icon name="uil:angle-double-right" aria-hidden="true" />
		</a>
	</div>
	<aside id="pagination-info">
		{start + 1}-{end + 1} of {total} ({size} per page)
	</aside>
</nav>
