---
import { Icon } from 'astro-icon/components';
import './styles.css';

interface Props {
	baseUrl: string,
	currentPage: number,
	lastPage: number,
	prevUrl?: string,
	nextUrl?: string,
	start: number,
	end: number,
	total: number,
	size: number
}

const {
	currentPage, lastPage,
	baseUrl,
	prevUrl, nextUrl,
	start, end, total, size
} = Astro.props;

const TRIM_PAGE_NUMBER = 2;
const firstPageInNav = Math.max(1, currentPage - TRIM_PAGE_NUMBER);
const lastPageInNav = Math.min(lastPage, currentPage + TRIM_PAGE_NUMBER);
---
<nav aria-label="Post list pages">
	<div id="pagination">
		<a
			{...(currentPage > 1
				? { href: `${baseUrl}/` }
				: { 'aria-disabled': 'true' }
			)}
			id="first-page"
		>
			<Icon name="uil:angle-double-left" title="Two chevrons pointing to the left" />
			<span class="pagination-link-text">First<span class="visually-hidden"> page</span></span>
		</a>
		<a
			{...(prevUrl
					? { href: prevUrl }
					: { 'aria-disabled': 'true' }
			)}
			id="prev-page"
		>
			<Icon name="uil:angle-left" title="A chevron pointing to the left" />
			<span class="pagination-link-text">Previous<span class="visually-hidden"> page</span></span>
		</a>

		<ol>
			{firstPageInNav > 1 && (
				<Fragment>
					<li><a href={`${baseUrl}/`}>1</a></li>
					<li><span>…</span></li>
				</Fragment>
			)}

			{Array(lastPageInNav - firstPageInNav + 1).fill(null).map((_, i) => {
				const currentPageNumber = firstPageInNav + i;
				const href = currentPageNumber === 1 ? '' : currentPageNumber;

				if (currentPageNumber === currentPage) {
					return (
						<li aria-current="page">
							<span>{currentPageNumber}</span>
							<span class="visually-hidden">(Current page)</span>
						</li>
					);
				}

				return <li><a href={`${baseUrl}/${href}`}>{currentPageNumber}</a></li>;
			})}

			{lastPageInNav < lastPage && (
				<Fragment>
					<li><span>…</span></li>
					<li><a href={`${baseUrl}/${lastPage}`}>{lastPage}</a></li>
				</Fragment>
			)}
		</ol>

		<a
			{...(nextUrl
				? { href: nextUrl }
				: { 'aria-disabled': 'true' }
			)}
			id="next-page"
		>
			<span class="pagination-link-text">Next<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-right" title="A chevron pointing to the right" />
		</a>
		<a
			{...(currentPage < lastPage
				? { href: `${baseUrl}/${lastPage}` }
				: { 'aria-disabled': 'true' }
			)}
			id="last-page"
		>
			<span class="pagination-link-text">Last<span class="visually-hidden"> page</span></span>
			<Icon name="uil:angle-double-right" title="Two chevrons pointing to the right" />
		</a>
	</div>
	<aside id="pagination-info">
		{start + 1} &mdash; {end + 1} of {total} ({size} per page)
	</aside>
</nav>
