---
import type { GetStaticPaths, InferGetStaticPropsType, PaginateFunction } from 'astro';

import BlogPostsLayout from '../../layouts/BlogPosts.astro';

import { BLOG } from '../../constants';
import { listAllPosts, MAX_POSTS_PER_PAGE } from '../../utils/post.ts';

import logoBlog from '../../assets/images/logo/logo-blog.svg';

// eslint-disable-next-line @typescript-eslint/no-use-before-define
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async ({ paginate }: { paginate: PaginateFunction }) => {
	const postsList = await listAllPosts();

	return paginate(postsList, {
		pageSize: MAX_POSTS_PER_PAGE
	});
}) satisfies GetStaticPaths;

const {
	data: posts,
	url,
	currentPage,
	lastPage,
	start,
	end,
	total,
	size
} = Astro.props.page;
---

<BlogPostsLayout
	{posts}
	baseUrl={BLOG.url}
	currentUrl={url.current}
	{currentPage}
	{lastPage}
	prevUrl={url.prev}
	nextUrl={url.next}
	{start}
	{end}
	{total}
	{size}
>
	<a href={BLOG.url} aria-label="Blog" slot="logo">
		<img
			src={logoBlog.src}
			width={logoBlog.width}
			height={logoBlog.height}
			alt={BLOG.logoAltText?.regular}
		/>
	</a>

	<Fragment slot="header">
		{BLOG.titleString}
	</Fragment>
</BlogPostsLayout>
