---
import type { GetStaticPaths, InferGetStaticPropsType, PaginateFunction } from 'astro';

import BlogPostsLayout from '../../layouts/BlogPosts.astro';

import { BLOG_LOGO_ALT, BLOG_TITLE_STRING, BLOG_URL } from '../../constants';
import { listAllPosts, MAX_POSTS_PER_PAGE } from '../../utils/post.ts';

import logoBlog from '../../assets/images/logo-blog.svg';

// eslint-disable-next-line @typescript-eslint/no-use-before-define
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async ({ paginate }: { paginate: PaginateFunction }) => {
	const postsList = await listAllPosts();

	return paginate(postsList, {
		pageSize: MAX_POSTS_PER_PAGE
	});
}) satisfies GetStaticPaths;

const {
	data: posts,
	url,
	currentPage, lastPage,
	start, end, total, size
} = Astro.props.page;
---

<BlogPostsLayout
	posts={posts}
	baseUrl={BLOG_URL}
	currentUrl={url.current}
	currentPage={currentPage}
	lastPage={lastPage}
	prevUrl={url.prev}
	nextUrl={url.next}
	start={start}
	end={end}
	total={total}
	size={size}
>
	<a href={BLOG_URL} aria-label="Blog" slot="logo">
		<img
			src={logoBlog.src}
			width={logoBlog.width}
			height={logoBlog.height}
			alt={BLOG_LOGO_ALT}
		/>
	</a>

	<Fragment slot="header">
		{BLOG_TITLE_STRING}
	</Fragment>
</BlogPostsLayout>
