---
import { Icon } from 'astro-icon/components';

import ProjectIcon from '../ProjectIcon/index.astro';

import './styles.css';

interface Props {
	status: 'finished' | 'ongoing';
	createdAt: Date;
	updatedAt?: Date;
	version?: string;
	url?: string;

	image?: ImageMetadata;
	imageAlt?: string;

	techStack?: string[];
	repository?: string;
}

const { status, version, createdAt, updatedAt, image, imageAlt, url, repository, techStack } = Astro.props;

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<article class="project-card" itemscope itemtype="http://schema.org/WebApplication">
	<meta itemprop="operatingSystem" content="https://schema.org/AllOperatingSystem" />
	<meta itemprop="browserRequirements" content="https://schema.org/GenericWebPlatform" />
	<meta itemprop="applicationCategory" content="BrowserApplication" />
	<div itemprop="offers" itemscope itemtype="https://schema.org/Offer" hidden>
		<meta itemprop="availability" content="https://schema.org/InStock" />
		<meta itemprop="price" content="0" />
		<meta itemprop="priceCurrency" content="USD" />
	</div>
	<meta itemprop="isAccessibleForFree" content="True" />

	{
		image && (
			<ProjectIcon
				{image}
				imageAlt={imageAlt ?? ''}
			/>
		)
	}

	<header>
		<a href={url ?? null} rel="noopener noreferrer">
			<h2 itemprop="name">
				<slot name="title"></slot>
			</h2>
		</a>
		<aside>
			<span>
				<Icon name="uil:calendar-alt" title="Date started" />
				<time datetime={createdAt.toISOString()} itemprop="dateCreated">{formatter.format(createdAt)}</time>
				{updatedAt && <span>&mdash; <time datetime={updatedAt?.toISOString()} itemprop="dateModified">{formatter.format(updatedAt)}</time></span>}
			</span>
			<span itemprop="softwareVersion">
				<Icon name="uil:box" title="Current version" /> {version}
			</span>
			<span class:list={['project-status', status]}>
				<Icon name={status === 'ongoing' ? 'uil:history' : 'uil:check-circle'} title="Project status" /> {status === 'ongoing' ? 'Ongoing' : 'Finished'}
			</span>
		</aside>
	</header>

	<div class="project-content" itemprop="description">
		<slot></slot>
	</div>

	<div class="project-links">
		{
			url && (
				<a href={url} rel="noopener noreferrer" class="view-project" itemprop="installUrl">
					<Icon name="uil:link" title="" />
					View Project
				</a>
			)
		}

		{
			repository && (
				<a href={repository} rel="noopener noreferrer">
					<Icon name="uil:github" title="" />
					View Repository
				</a>
			)
		}
	</div>

	<footer class="project-info">
		<details>
			<summary>
				<span>
					<Icon name="uil:cog" title="" />
					Technologies used
				</span>
			</summary>
			<ul class="technology-tags">
				{techStack?.map((tech) => <li class="tag">{tech}</li>)}
			</ul>
		</details>
	</footer>
</article>
