---
import TalkCard from '../../components/TalkCard/index.astro';
import InternalPageLayout from '../../layouts/InternalPage.astro';

import { TALKS } from '../../constants.js';
import { join } from '../../utils/path.js';

import { listAllTalks } from '../../utils/talks.js';

import logoTalks from '../../assets/images/logo/logo-talks.svg';
import talksSocialImage from '../../assets/images/social/social-talks.png';

const talks = await listAllTalks();
---

<InternalPageLayout
	htmlTitle={TALKS.title}
	title={TALKS.titleString}
	description={TALKS.description}
	url={TALKS.url}
	image={talksSocialImage.src}
	imageAlt={TALKS.logoAltText?.micro}
>
	<a href={TALKS.url} slot="logo">
		<img
			src={logoTalks.src}
			width={logoTalks.width}
			height={logoTalks.height}
			alt={TALKS.logoAltText?.regular}
		/>
	</a>
	<Fragment slot="header">
		{TALKS.titleString}
	</Fragment>

	{
		talks.map((talk) => (
			<TalkCard
				url={join([TALKS.url, talk.slug])}
				event={talk.data.event}
				date={talk.data.date}
				image={talk.data.image}
				imageAlt={talk.data.imageAlt}
			>
				<span slot="title">{talk.data.title}</span> {talk.data.summary}
			</TalkCard>
		))
	}
</InternalPageLayout>
