---
import Logo from '../../components/Logo/index.astro';
import TalkCard from '../../components/TalkCard/index.astro';
import InternalPageLayout from '../../layouts/InternalPage.astro';

import { TALKS } from '../../constants.js';
import { join } from '../../utils/path.js';

import { listAllTalks } from '../../utils/talks.js';

import talksSocialImage from '../../assets/images/social/social-talks.png';

const talks = await listAllTalks();
---

<InternalPageLayout
	htmlTitle={TALKS.title}
	title={TALKS.titleString}
	description={TALKS.description}
	url={TALKS.url}
	image={talksSocialImage.src}
	imageAlt="The letter &quot;m&quot; on a monospaced font, in blue, between curly braces.Below it, a subtext of &quot;Talks&quot; in orange on the lower right corner."
>
	<Logo
		style="full"
		title="Marco Campos' - Talks"
		subtitle="Talks"
		shortSubtitle="Talks"
		url={TALKS.url}
		slot="logo"
	/>
	<Fragment slot="header">
		{TALKS.titleString}
	</Fragment>

	{
		talks.map((talk) => (
			<TalkCard
				url={join([TALKS.url, talk.slug])}
				isOnline={talk.isOnline}
				address={talk.address}
				event={talk.data.event}
				date={talk.data.date}
				image={talk.data.image}
				imageAlt={talk.data.imageAlt}
			>
				<span slot="title">{talk.data.title}</span> {talk.data.summary}
			</TalkCard>
		))
	}
</InternalPageLayout>
