---
import InternalPage from '../../layouts/InternalPage.astro';
import TalkCard from '../../components/TalkCard/index.astro';

import { TALKS_TITLE, TALKS_URL } from '../../constants';

import { listAllTalks } from '../../utils/talks';

import '../../assets/css/internal-page.css';

const talks = await listAllTalks();
---

<InternalPage
	title={TALKS_TITLE}
	description="Talks I've given at conferences and meetups."
	url={TALKS_URL}
>
	<span slot="header">Talks and Events</span>

	{ talks.map((talk) => (
		<TalkCard
			url={`${TALKS_URL}/${talk.slug}`}
			event={talk.data.event}
			date={talk.data.date}
			image={talk.data.image}
			imageAlt={talk.data.imageAlt}
		>
			<span slot="title">{talk.data.title}</span>
			{talk.data.summary}
		</TalkCard>
	)) }
</InternalPage>
