---
import InternalPage from '../../layouts/InternalPage.astro';
import TalkCard from '../../components/TalkCard/index.astro';

import { TALKS_DESCRIPTION, TALKS_TITLE, TALKS_TITLE_STRING, TALKS_URL } from '../../constants';

import { listAllTalks } from '../../utils/talks';

const talks = await listAllTalks();
---

<InternalPage
	htmlTitle={TALKS_TITLE}
	title={TALKS_TITLE_STRING}
	description={TALKS_DESCRIPTION}
	url={TALKS_URL}
>
	<span slot="header">{TALKS_TITLE_STRING}</span>

	{ talks.map((talk) => (
		<TalkCard
			url={`${TALKS_URL}/${talk.slug}`}
			event={talk.data.event}
			date={talk.data.date}
			image={talk.data.image}
			imageAlt={talk.data.imageAlt}
		>
			<span slot="title">{talk.data.title}</span>
			{talk.data.summary}
		</TalkCard>
	)) }
</InternalPage>
