---
import InternalPageLayout from '../../layouts/InternalPage.astro';
import TalkCard from '../../components/TalkCard/index.astro';

import { TALKS_DESCRIPTION, TALKS_LOGO_ALT, TALKS_TITLE, TALKS_TITLE_STRING, TALKS_URL } from '../../constants';

import { listAllTalks } from '../../utils/talks';

import logoTalks from '../../assets/images/logo-talks.svg';

const talks = await listAllTalks();
---

<InternalPageLayout
	htmlTitle={TALKS_TITLE}
	title={TALKS_TITLE_STRING}
	description={TALKS_DESCRIPTION}
	url={TALKS_URL}
>
	<a href={TALKS_URL} slot="logo">
		<img
			src={logoTalks.src}
			width={logoTalks.width}
			height={logoTalks.height}
			alt={TALKS_LOGO_ALT}
		/>
	</a>
	<Fragment slot="header">
		{TALKS_TITLE_STRING}
	</Fragment>

	{ talks.map((talk) => (
		<TalkCard
			url={`${TALKS_URL}/${talk.slug}`}
			event={talk.data.event}
			date={talk.data.date}
			image={talk.data.image}
			imageAlt={talk.data.imageAlt}
		>
			<span slot="title">{talk.data.title}</span>
			{talk.data.summary}
		</TalkCard>
	)) }
</InternalPageLayout>
