---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';

import { BLOG, BLOG_AUTHOR } from '../../../constants';

import BaseLayout from '../../../layouts/Base.astro';
import PageHeader from '../../../components/PageHeader/index.astro';
import Avatar from '../../../components/Avatar/index.astro';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/authors.css';
import logoBlog from '../../../assets/images/logo/logo-blog.svg';

// eslint-disable-next-line @typescript-eslint/no-use-before-define
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () => (await getCollection('authors')).map(((author) => ({
	params: { author: author.slug },
	props: { ...author.data, render: author.render, slug: author.slug }
})))) satisfies GetStaticPaths;

const {
	name,
	render,
	avatar, avatarAlt
} = Astro.props;

const { Content } = await render();

---
<BaseLayout
	htmlTitle={[name, ...BLOG_AUTHOR.title]}
	title={name}
	description={name}
	url={Astro.url.toString()}
	tags={BLOG_AUTHOR.tags}
	hasFeed={true}
	pageSchema="ProfilePage"
	image={avatar.src}
	imageAlt={avatarAlt}
>
	<PageHeader slot="header">
		<a href={BLOG.url} slot="logo">
			<img
				src={logoBlog.src}
				width={logoBlog.width}
				height={logoBlog.height}
				alt={BLOG.logoAltText?.regular}
			/>
		</a>
		{name}
	</PageHeader>

	<div id="contents" itemprop="about mainEntity" itemscope itemtype="https://schema.org/Person">
		<meta itemprop="name" content={name} />
		<a id="author-picture" class="p-author h-card author-name" rel="author" itemprop="url" href={Astro.url}>
			<Avatar image={avatar} imageAlt={avatarAlt} />
		</a>

		<article id="author-bio">
			<Content />
		</article>
	</div>
</BaseLayout>
