---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { listAllAuthors } from '../../../utils/authors.js';

import { BLOG, BLOG_AUTHOR } from '../../../constants.js';

import Avatar from '../../../components/Avatar/index.astro';
import Logo from '../../../components/Logo/index.astro';
import PageHeader from '../../../components/PageHeader/index.astro';
import BaseLayout from '../../../layouts/Base.astro';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/authors.css';

// eslint-disable-next-line @typescript-eslint/no-use-before-define
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

export const getStaticPaths = (async () =>
	(await listAllAuthors()).map((author) => ({
		params: { author: author.slug },
		props: { ...author.data, render: author.render, slug: author.slug }
	}))) satisfies GetStaticPaths;

const {
	name,
	render,
	avatar,
	avatarAlt
} = Astro.props;

const { Content } = await render();
---
<BaseLayout
	htmlTitle={[name, ...BLOG_AUTHOR.title]}
	title={name}
	description={name}
	url={Astro.url.toString()}
	tags={BLOG_AUTHOR.tags}
	hasFeed={true}
	pageSchema="ProfilePage"
	image={avatar.src}
	imageAlt={avatarAlt}
>
	<PageHeader slot="header">
		<Logo
			size="full"
			subtitle="Blog"
			shortSubtitle="Blog"
			url={BLOG.url}
			urlTitle="Blog"
			slot="logo"
		/>
		{name}
	</PageHeader>

	<div id="contents" itemprop="about mainEntity" itemscope itemtype="https://schema.org/Person">
		<meta itemprop="name" content={name} />
		<a id="author-picture" class="p-author h-card author-name" rel="author" itemprop="url" href={Astro.url}>
			<Avatar image={avatar} imageAlt={avatarAlt} />
		</a>

		<article id="author-bio">
			<Content />
		</article>
	</div>
</BaseLayout>
