---
import { getCollection } from 'astro:content';

import {
 BLOG_AUTHOR_DESCRIPTION, BLOG_AUTHOR_TITLE, BLOG_AUTHOR_TITLE_STRING, BLOG_AUTHOR_URL, BLOG_LOGO_ALT, BLOG_TAGS, BLOG_URL
} from '../../../constants';

import BaseLayout from '../../../layouts/Base.astro';
import PageHeader from '../../../components/PageHeader/index.astro';
import AuthorCard from '../../../components/AuthorCard/index.astro';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/authors.css';
import logoBlog from '../../../assets/images/logo-blog.svg';

const authors = await getCollection('authors');

---
<BaseLayout
	htmlTitle={BLOG_AUTHOR_TITLE}
	title={BLOG_AUTHOR_TITLE_STRING}
	description={BLOG_AUTHOR_DESCRIPTION}
	url={BLOG_AUTHOR_URL}
	tags={BLOG_TAGS}
	hasFeed={true}
	pageSchema="ItemList"
>
	<meta itemprop="name" content={BLOG_AUTHOR_TITLE_STRING} />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={authors.length.toString()} />

	<PageHeader slot="header">
		<a href={BLOG_URL} slot="logo">
			<img
				src={logoBlog.src}
				width={logoBlog.width}
				height={logoBlog.height}
				alt={BLOG_LOGO_ALT}
			/>
		</a>
		{BLOG_AUTHOR_TITLE_STRING}
	</PageHeader>


	<div id="contents">
		<ul id="author-list">
			{authors.map(({ slug }) => (
				<li itemprop="itemListElement">
					<AuthorCard
						author={slug}
						url={`${BLOG_AUTHOR_URL}/${slug}`}
					/>
				</li>
			))}
		</ul>
	</div>
</BaseLayout>
