---
import { getCollection } from 'astro:content';

import { BLOG, BLOG_AUTHOR } from '../../../constants.js';
import { join } from '../../../utils/path.js';

import AuthorCard from '../../../components/AuthorCard/index.astro';
import Logo from '../../../components/Logo/index.astro';
import PageHeader from '../../../components/PageHeader/index.astro';
import BaseLayout from '../../../layouts/Base.astro';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/authors.css';

import blogSocialImage from '../../../assets/images/social/social-blog.png';

const authors = await getCollection('authors');
---
<BaseLayout
	htmlTitle={BLOG_AUTHOR.title}
	title={BLOG_AUTHOR.titleString}
	description={BLOG_AUTHOR.description}
	url={BLOG_AUTHOR.url}
	tags={BLOG_AUTHOR.tags}
	hasFeed={true}
	pageSchema="ItemList"
	image={blogSocialImage.src}
	imageAlt="The letter &quot;m&quot; on a monospaced font, in blue, between curly braces.Below it, a subtext of &quot;Blog&quot; in orange on the lower right corner."
>
	<meta itemprop="name" content={BLOG_AUTHOR.titleString} />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={authors.length.toString()} />

	<PageHeader slot="header">
		<Logo
			style="full"
			subtitle="Blog"
			shortSubtitle="Blog"
			url={BLOG.url}
			urlTitle="Blog"
			slot="logo"
		/>
		{BLOG_AUTHOR.titleString}
	</PageHeader>

	<div id="contents">
		<ul id="author-list">
			{
				authors.map(({ slug }) => (
					<li itemprop="itemListElement">
						<AuthorCard
							author={slug}
							url={join([BLOG_AUTHOR.url, slug])}
						/>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
