---
import { getCollection } from 'astro:content';

import { BLOG, BLOG_AUTHOR } from '../../../constants';
import { join } from '../../../utils/path.ts';

import AuthorCard from '../../../components/AuthorCard/index.astro';
import PageHeader from '../../../components/PageHeader/index.astro';
import BaseLayout from '../../../layouts/Base.astro';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/authors.css';

import logoBlog from '../../../assets/images/logo/logo-blog.svg';
import blogSocialImage from '../../../assets/images/social/social-blog.png';

const authors = await getCollection('authors');
---
<BaseLayout
	htmlTitle={BLOG_AUTHOR.title}
	title={BLOG_AUTHOR.titleString}
	description={BLOG_AUTHOR.description}
	url={BLOG_AUTHOR.url}
	tags={BLOG_AUTHOR.tags}
	hasFeed={true}
	pageSchema="ItemList"
	image={blogSocialImage.src}
	imageAlt={BLOG.logoAltText?.micro}
>
	<meta itemprop="name" content={BLOG_AUTHOR.titleString} />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={authors.length.toString()} />

	<PageHeader slot="header">
		<a href={BLOG.url} slot="logo">
			<img
				src={logoBlog.src}
				width={logoBlog.width}
				height={logoBlog.height}
				alt={BLOG.logoAltText?.regular}
			/>
		</a>
		{BLOG_AUTHOR.titleString}
	</PageHeader>

	<div id="contents">
		<ul id="author-list">
			{
				authors.map(({ slug }) => (
					<li itemprop="itemListElement">
						<AuthorCard
							author={slug}
							url={join([BLOG_AUTHOR.url, slug])}
						/>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
