---
import { Image } from 'astro:assets';

import BlogNav from '../BlogNav/index.astro';
import InlineAuthor from '../InlineAuthor/index.astro';

import './styles.css';

import avatar from '../../assets/images/me.jpg';
import { Icon } from 'astro-icon/components';

interface Props {
	url: string,
	title: string,
	summary: string,
	createdAt: Date,
	updatedAt?: Date,
	hasUpdates?: boolean,
	image?: ImageMetadata,
	imageAlt?: string
}

const { url, title, summary, createdAt, updatedAt, hasUpdates, image, imageAlt } = Astro.props;

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<div id="post-header">
	<BlogNav />
	<header>
		{image && (
			<Image
				itemprop="image"
				id="hero-image"
				src={image}
				alt={imageAlt ?? ''}
				itemprop="image"
				loading="eager"
			/>
		)}

		<div>
			<a class="u-uid u-url" href={url}>
				<h1 class="p-name" itemprop="headline">{title}</h1>
			</a>

			<aside>
				<span>
					Published on <time itemprop="datePublished" class="dt-published" datetime={createdAt.toISOString()}>{formatter.format(createdAt)}</time>
				</span>
				<span>
					by <InlineAuthor
						name="Marco Campos"
						avatar={avatar}
						url={Astro.site}
					/>
				</span>
			</aside>
			{ updatedAt && (
				<aside>
					Updated on <time itemprop="dateModified" class="dt-updated" datetime={updatedAt.toISOString()}>{formatter.format(updatedAt)}</time>
					{hasUpdates && (
						<a href="#update-history" aria-label="Jump to updates section">
							<Icon name="uil:sync-exclamation" />
						</a>
					)}
				</aside>
			)}
		</div>
		<aside id="post-share">
			<ul>
				<li>
					<button
						id="ps-copy"
						type="button"
						title="Copy link to clipboard"
						aria-label="Copy link to clipboard"
					>
						<Icon name="uil:link" />
					</button>
				</li>
				<li>
					<button
						id="ps-email"
						type="button"
						title="Send an email"
						aria-label="Send an email"
					>
						<Icon name="uil:envelope-share" />
					</button>
				</li>
				<li>
					<button
						id="ps-native"
						type="button"
						title="Share on your platform"
						aria-label="Share on your platform"
					>
						<Icon name="uil:share-alt" />
					</button>
				</li>
			</ul>
			<script src="../../assets/js/share.ts"></script>
		</aside>

		<blockquote id="post-summary" class="p-summary" itemprop="description">
			<p>{summary}</p>
		</blockquote>
	</header>
</div>
