---
import type { ImageProps } from '../../content/config.ts';

import { Image } from 'astro:assets';

import BlogNav from '../BlogNav/index.astro';

import './styles.css';

interface Props {
	title: string,
	createdAt: Date,
	updatedAt?: Date,
	image?: ImageProps,
	imageAlt?: string
}

const { title, createdAt, updatedAt, image, imageAlt } = Astro.props;

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<div id="post-header">
	<BlogNav />
	<header>
		{image && (
			<Image
				id="hero-image"
				src={image}
				alt={imageAlt ?? ''}
				itemprop="image"
				loading="eager"
			/>
		)}

		<div>
			<h1>{title}</h1>
			<aside>Published on <time itemprop="dateCreated" datetime={createdAt.toISOString()}>{formatter.format(createdAt)}</time></aside>
			{ updatedAt && <aside>Updated on <time itemprop="dateModified" datetime={updatedAt.toISOString()}>{formatter.format(updatedAt)}</time></aside> }
		</div>
	</header>
</div>
