---
import type { ImageProps } from '../../content/config.ts';

import { Image } from 'astro:assets';

import BlogNav from '../BlogNav/index.astro';

import './styles.css';

interface Props {
	title: string,
	createdAt: Date,
	updatedAt?: Date,
	image?: ImageProps,
	imageAlt?: string
}

const { title, createdAt, updatedAt, image, imageAlt } = Astro.props;

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<div id="post-header">
	<BlogNav />
	<header>
		{image && (
			<Image
				id="hero-image"
				src={image}
				alt={imageAlt ?? ''}
				itemprop="image"
				loading="eager"
			/>
		)}

		<div>
			<h1 class="p-name">{title}</h1>

			<aside>
				Published by <a class="p-author h-card" rel="author" href={Astro.site}>Marco Campos</a>
				on <time itemprop="dateCreated" class="dt-published" datetime={createdAt.toISOString()}>{formatter.format(createdAt)}</time>
			</aside>
			{ updatedAt && (
				<aside>
					Updated on <time itemprop="dateModified" class="dt-updated" datetime={updatedAt.toISOString()}>{formatter.format(updatedAt)}</time>
				</aside>
			)}
		</div>
	</header>
</div>
