---
import { Image } from 'astro:assets';

import BlogNav from '../BlogNav/index.astro';

import './styles.css';

import { Icon } from 'astro-icon/components';

interface Props {
	url: string,
	title: string,
	summary: string,
	createdAt: Date,
	updatedAt?: Date,
	hasUpdates?: boolean,
	image?: ImageMetadata,
	imageAlt?: string,
	readingTime?: number,
	wordCount?: number,
	letterCount?: number
}

const {
	url,
	title, summary,
	createdAt, updatedAt,
	hasUpdates,
	image, imageAlt,
	readingTime, wordCount
} = Astro.props;

const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---
<div id="post-header">
	<header>
		<BlogNav />
		<a id="post-title" class="u-uid u-url" href={url}>
			<h1 class="p-name" itemprop="headline">{title}</h1>
		</a>

		{image && (
			<Image
				itemprop="image"
				id="hero-image"
				src={image}
				alt={imageAlt ?? ''}
				itemprop="image"
				loading="eager"
			/>
		)}

		<blockquote id="post-summary" class="p-summary" itemprop="description">
			<p>{summary}</p>
		</blockquote>

		<aside id="post-metadata">
			<small>
				<span>
					Published on <time itemprop="datePublished" class="dt-published" datetime={createdAt.toISOString()}>{formatter.format(createdAt)}</time>.
				</span>

				{ updatedAt && (
					<span>
						Updated on <time itemprop="dateModified" class="dt-updated" datetime={updatedAt.toISOString()}>{formatter.format(updatedAt)}</time>
						{hasUpdates && (
							<a href="#update-history" aria-label="Jump to updates section">
								<Icon name="uil:sync-exclamation" />
							</a>
						)}
					</span>
				)}
			</small>

			{readingTime && (
				<small>
					<time itemprop="timeRequired" class="dt-duration" datetime={`PT${readingTime}M`}>
						{readingTime} minute read
					</time>
					{wordCount && (
						<span> &mdash; {wordCount} words</span>
					)}
				</small>
			)}
		</aside>

		<nav id="post-share" aria-label="Share menu">
			<ul>
				<li>
					<button
						id="ps-copy"
						type="button"
						title="Copy link to clipboard"
						aria-label="Copy link to clipboard"
					>
						<Icon name="uil:link" />
					</button>
				</li>
				<li>
					<button
						id="ps-email"
						type="button"
						title="Send an email"
						aria-label="Send an email"
					>
						<Icon name="uil:envelope-share" />
					</button>
				</li>
				<li>
					<button
						id="ps-native"
						type="button"
						title="Share on your platform"
						aria-label="Share on your platform"
					>
						<Icon name="uil:share-alt" />
					</button>
				</li>
			</ul>
			<script src="../../assets/js/share.ts"></script>
		</nav>
	</header>
</div>
