---
import { getEntry } from 'astro:content';

import Avatar from '../Avatar/index.astro';
import { parseMarkdown } from '../../utils/markdown';

import './styles.css';

interface Props {
	author: string
}

const { author } = Astro.props;

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const { data: { avatar, avatarAlt, name, website: url }, body } = (await getEntry('authors', author))!;
const description = await parseMarkdown(body);
---
<div class="author-card" itemprop="author" itemscope itemtype="https://schema.org/Person">
	<a class="author-picture" href={url}>
		<Avatar image={avatar} imageAlt={avatarAlt} />
	</a>

	<a class="p-author h-card author-name" rel="author" itemprop="url" href={url}>
		<h2 itemprop="name">{name}</h2>
	</a>

	<div class="author-bio">
		<small>
			{/* eslint-disable-next-line astro/no-set-html-directive */}
			<Fragment set:html={description}>
		</small>
	</div>
</div>
