---
import { ERROR_DESCRIPTION, ERROR_TITLE, ERROR_TITLE_STRING, ERROR_URL, SITE_TAGS } from '../constants';

import BaseLayout from '../layouts/Base.astro';

import '../assets/css/404.css';
---
<BaseLayout
	htmlTitle={ERROR_TITLE}
	title={ERROR_TITLE_STRING}
	description={ERROR_DESCRIPTION}
	url={ERROR_URL}
	tags={SITE_TAGS}
>
	<svg viewBox="0 0 1101 900">
		<defs>
			<filter id="glitch" width="120%" height="120%" x="-10%" y="-10%">
				<feTurbulence baseFrequency="0 1.01" numOctaves="32" seed="2" />
				<feMorphology operator="dilate" radius="8" result="glitch-lines" />
				<feDisplacementMap in="SourceGraphic" in2="glitch-lines" scale="32" xChannelSelector="R" yChannelSelector="R" />
				<feOffset dy="-2" />
			</filter>
			<filter id="animated-glitch" width="120%" height="120%" x="-10%" y="-10%">
				<feTurbulence baseFrequency="0 2" numOctaves="32">
					<animate attributeName="numOctaves" dur="16s" repeatCount="indefinite" values="8;2;16;2;8;32;8;2;8;16;32;4;2;8;16;64" />
					<animate attributeName="baseFrequency" dur="30s" repeatCount="indefinite" values="0 0.001; 0 0.002" />
					<animate
						additive="sum"
						attributeName="baseFrequency"
						calcMode="discrete"
						dur="60s"
						repeatCount="indefinite"
						values="0 0.001;0 2;0 3;0 0.001;0 0.001;0.001 5;0 2;0 3;0 2;0 0.001;0.5 2;1 0.05;0 0.001;0 0.001;0 4;0 0.001;0.001 3;0 0.1;0 0.001;0 2;0 6;0 2;0 0.001;0.001 1;0 0.001;0 0.001;0 2;0 0.001;"
					/>
					<animate attributeName="seed" calcMode="discrete" dur="120s" repeatCount="indefinite" values="1;2;3;4;5" />
				</feTurbulence>
				<feMorphology operator="dilate" radius="8" result="glitch-lines" />
				<feDisplacementMap in="SourceGraphic" in2="glitch-lines" scale="32" xChannelSelector="R" yChannelSelector="R" />
			</filter>
			<filter id="pixelate" width="120%" height="120%" x="-10%" y="-10%">
				<feGaussianBlur result="blurred-image" stdDeviation="8" />
				<feImage xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAWSURBVAgdY1ywgOEDAwKxgJhIgFQ+AP/vCNK2s+8LAAAAAElFTkSuQmCC" width="15" height="15" />
				<feTile result="displacement-map" />
				<feDisplacementMap
					in="blurred-image"
					in2="displacement-map"
					result="pixelated-image"
					scale="50"
					xChannelSelector="R"
					yChannelSelector="G"
				/>
				<feOffset dx="-12" dy="-12" />
			</filter>
			<filter id="noise" width="120%" height="120%" x="-10%" y="-10%">
				<feGaussianBlur result="blurred-image" stdDeviation="16" />
				<feTurbulence baseFrequency="1.2" numOctaves="10" stitchTiles="stitch" type="fractalNoise" />
				<feColorMatrix type="saturate" values="0" />
				<feComposite in2="blurred-image" operator="in" />
				<feComponentTransfer>
					<feFuncA slope=".7" type="linear" />
				</feComponentTransfer>
			</filter>
		</defs>
		<defs>
			<g id="logo">
				<path d="M289.409 513.368c0-27.363-7.935-48.486-23.337-63.368 15.402-13.922 23.337-35.045 23.337-62.888V285.339c0-15.842 3.267-26.884 9.801-34.085 6.534-6.721 17.269-10.081 32.671-10.081h17.87c6.628 0 12-5.373 12-12v-14.405c0-6.627-5.372-12-12-12h-17.87c-25.67 0-45.74 7.201-59.275 21.123-13.535 14.402-20.536 35.044-20.536 61.448v101.773c0 15.362-3.267 26.403-9.801 33.124-7.001 7.201-13.068 10.562-28.47 10.562h-1.069a12.003 12.003 0 0 0-12 12v14.404a12.003 12.003 0 0 0 12 12h1.069c15.402 0 21.469 3.361 28.47 10.082 6.534 7.201 9.801 18.242 9.801 34.084v101.293c0 26.404 7.001 47.046 20.536 61.448 13.535 13.922 33.605 21.123 59.275 21.123h17.87c6.628 0 12-5.373 12-12v-14.405c0-6.627-5.372-12-12-12h-17.87c-15.402 0-26.137-3.36-32.671-10.081-6.534-7.201-9.801-18.243-9.801-34.085V513.368ZM557.4 580.617c6.627 0 11.999-5.373 12-12V403.474c0-15.842 3.267-26.883 10.267-33.604 6.535-6.721 17.269-10.082 32.671-10.082h29.404c15.402 0 26.137 3.361 33.138 10.082 6.534 6.721 9.801 17.762 9.801 33.604v165.143c0 6.627 5.373 12 12 12h13.338c6.628 0 12-5.373 12-12V403.474c0-26.403-7.001-47.046-20.536-60.968-14.002-13.922-34.071-21.123-59.741-21.123h-29.404c-27.537 0-48.072 7.681-61.608 23.523-13.535-15.842-33.604-23.523-61.141-23.523h-29.87c-26.137 0-46.206 7.201-59.741 21.123-13.535 13.922-20.536 34.565-20.536 60.968v165.143c0 6.627 5.372 12 12 12h13.338c6.627 0 12-5.373 12-12V403.474c0-15.842 3.267-26.883 10.268-33.604 6.534-6.721 17.269-10.082 32.671-10.082h29.87c14.935 0 25.67 3.361 32.671 10.082 6.534 6.721 9.801 17.762 9.801 33.604v165.143c0 6.627 5.373 12 12 12H557.4Zm254.652-67.249c0-27.363 7.935-48.486 23.337-63.368-15.402-13.922-23.337-35.045-23.337-62.888V285.339c0-15.842-3.267-26.884-9.801-34.085-6.534-6.721-17.269-10.081-32.671-10.081h-17.87c-6.628 0-12-5.373-12-12v-14.405c0-6.627 5.372-12 12-12h17.87c25.67 0 45.739 7.201 59.274 21.123 13.536 14.402 20.536 35.044 20.536 61.448v101.773c0 15.362 3.268 26.403 9.802 33.124 7.001 7.201 13.068 10.562 28.47 10.562h1.068c3.183 0 6.235 1.264 8.486 3.514a12.003 12.003 0 0 1 3.514 8.486v14.404c0 3.183-1.264 6.235-3.514 8.486a12.003 12.003 0 0 1-8.486 3.514h-1.068c-15.402 0-21.469 3.361-28.47 10.082-6.534 7.201-9.802 18.242-9.802 34.084v101.293c0 26.404-7 47.046-20.536 61.448-13.535 13.922-33.604 21.123-59.274 21.123h-17.87c-6.628 0-12-5.373-12-12v-14.405c0-6.627 5.372-12 12-12h17.87c15.402 0 26.137-3.36 32.671-10.081 6.534-7.201 9.801-18.243 9.801-34.085V513.368Z" />
			</g>
		</defs>
		<use xlink:href="#logo" id="pixelated-logo" />
		<use xlink:href="#logo" id="glitch-logo" />
		<use xlink:href="#logo" id="overlay-logo" />
		<use xlink:href="#logo" id="noise-logo" />
	</svg>

	<h1>404 - Not found</h1>
	<p>Looks like you hit a dead end.</p>
	<p>
		<a href="/">Go back home</a>
	</p>
</BaseLayout>
