---
import { ERROR_DESCRIPTION, ERROR_TITLE, ERROR_TITLE_STRING, ERROR_URL, SITE_TAGS } from '../constants';

import BaseLayout from '../layouts/Base.astro';
import SiteNav from '../components/SiteNav/index.astro';
import GlitchLogo from '../components/GlitchLogo/index.astro';

import '../assets/css/404.css';


---
<BaseLayout
	htmlTitle={ERROR_TITLE}
	title={ERROR_TITLE_STRING}
	description={ERROR_DESCRIPTION}
	url={ERROR_URL}
	tags={SITE_TAGS}
>
	<GlitchLogo />

	<h1>404 - Not found</h1>
	<p>Looks like you hit a dead end.</p>
	<p>
		<a href="/">Go back home</a>
	</p>

	<footer slot="footer">
		<SiteNav />
	</footer>
</BaseLayout>
