---
import { ERROR } from '../constants.js';

import GlitchLogo from '../components/GlitchLogo/index.astro';
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base.astro';

import '../assets/css/pages/404.css';
---
<BaseLayout
	htmlTitle={ERROR.title}
	title={ERROR.titleString}
	description={ERROR.description}
	url={ERROR.url}
	tags={ERROR.tags}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div>
			<GlitchLogo />
		</div>
		<h1>404 - Not found</h1>
	</header>

	<div id="contents">
		<p>Looks like you hit a dead end.</p>
		<p>
			<a href="/">Go back home</a>
		</p>
	</div>
</BaseLayout>
