---
import { getEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

import BaseLayout from '../layouts/Base.astro';
import Avatar from '../components/Avatar/index.astro';

import '../assets/css/pages/home.css';

import logo from '../assets/images/logo.svg';

import { BLOG_URL, PROJECTS_URL, SITE_TAGS, TALKS_URL } from '../constants';

const { data: { avatar, avatarAlt, name } } = (await getEntry('authors', 'marco'));
---
<BaseLayout
	htmlTitle={[name, 'Senior Web Developer']}
	title={name}
	description="Marco Campos - Senior Web Developer - Vue.js, Node.js, TypeScript, JavaScript"
	url="/"
	tags={SITE_TAGS}
	pageSchema="ProfilePage"
>
	<div class="h-card vcard">
		<h1>
			<a class="u-url url" href="/">
				<img
					class="u-logo"
					src={logo.src}
					width={logo.width}
					height={logo.height}
					alt="My moniker, &quot;madcampos&quot;, written between curly braces on a monospaced font."
				/>
			</a>
		</h1>
		<section id="about" itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
			<aside>
				<Avatar image={avatar} imageAlt={avatarAlt} />
			</aside>
			<article>
				<div class="p-note note" itemprop="description">
					<p>
						Hi there! My name is <em class="p-name fn n" itemprop="name"><span class="p-given-name given-name" itemprop="givenName">Marco</span> <span class="p-family-name family-name" itemprop="familyName">Campos</span></em> (<em>@</em><em class="p-nickname nickname" itemprop="alternateName">madcampos</em> on most social networks) and my pronoums are he/him!
						<br />
						I'm a <span class="p-category category p-job-title" itemprop="jobTitle">Senior Web Developer</span> based in <span class="p-adr adr" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span class="p-locality locality" itemprop="addressLocality">Toronto</span>, <span class="p-country-name country-name" itemprop="addressCountry">Canada</span></span>.
					</p>

					<p>I have experience with both frontend and backend development, with focus on responsive and accessible design, typescript and node.js.</p>
				</div>

				<p>You can find my projects, personal work, blog and some social networks on the links below:</p>
				<ul>
					<li>
						<a href={BLOG_URL} rel="noreferrer noopener">
							<Icon name="uil:file-edit-alt" title="An icon of a pen, meaning &quot;blog&quot;." />
							My Blog
						</a>
					</li>
					<li>
						<a href={PROJECTS_URL} rel="noreferrer noopener">
							<Icon name="uil:flask" title="An icon of box, meaning &quot;projects&quot;." />
							Project Highlights
						</a>
					</li>
					<li>
						<a href={TALKS_URL} rel="noreferrer noopener">
							<Icon name="uil:presentation-check" title="An icon of a chat bubble with a user inside, meaning &quot;talks&quot;." />
							Talks I've given
						</a>
					</li>
					<li>
						<a href="https://github.com/madcampos" rel="noreferrer noopener me authn" itemprop="sameAs">
							<Icon name="uil:github-alt" title="An icon with Github's logo." />
							GitHub
						</a>
					</li>
					<li>
						<a href="https://codepen.io/madcampos" rel="noreferrer noopener me" itemprop="sameAs">
							<Icon name="brandico:codepen" title="An icon with CodePen's logo." />
							CodePen
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/madcampos/" rel="noreferrer noopener" itemprop="sameAs">
							<Icon name="uil:linkedin-alt" title="An icon with LinkedIn's logo." />
							LinkedIn
						</a>
					</li>
					<li>
						<a href="mailto:me@madcampos.dev" rel="noreferrer noopener me">
							<Icon name="uil:envelope" title="An icon with an envelope, meaning &quot;email&quot;." />
							<span class="u-email email" itemprop="email">me@madcampos.dev</span>
						</a>
					</li>
				</ul>
			</article>
		</section>
	</div>
</BaseLayout>
