---
import { Icon } from 'astro-icon/components';

import Avatar from '../components/Avatar/index.astro';
import Logo from '../components/Logo/index.astro';
import ThemeSwitcher from '../components/ThemeSwitcher/index.astro';
import BaseLayout from '../layouts/Base.astro';

import '../assets/css/pages/home.css';

import avatar from '../assets/images/me.jpg';

import { BLOG, GLOBALS, PROJECTS, TALKS } from '../constants.js';
---
<BaseLayout
	htmlTitle={[...GLOBALS.title, 'Senior Web Developer']}
	title={GLOBALS.titleString}
	description={GLOBALS.description}
	url={GLOBALS.url}
	tags={GLOBALS.tags}
	pageSchema="ProfilePage"
>
	<div class="h-card vcard">
		<h1>
			<Logo
				size="full"
				subtitle=""
				shortSubtitle=""
				url="/"
				urlTitle="Home page"
			/>
		</h1>
		<article id="about" itemprop="mainEntity" itemtype="https://schema.org/Person" itemscope>
			<aside>
				<Avatar
					image={avatar}
					imageAlt="A picture of my face with a smile looking at the camera. I&apos;m wearing aviator glasses, a fake fur winter hat and an orange scarf."
					loading="eager"
				/>
			</aside>
			<div>
				<div class="p-note note" itemprop="description">
					<p>
						Hi there! My name is <em class="p-name fn n" itemprop="name"><span class="p-given-name given-name" itemprop="givenName">Marco</span>
							<span class="p-family-name family-name" itemprop="familyName">Campos</span></em> (<em>@</em>
						<em class="p-nickname nickname" itemprop="alternateName">madcampos</em> on most social networks) and my pronouns are he/him!
						<br />
						I'm a <span class="p-category category p-job-title" itemprop="jobTitle">Senior Web Developer</span> based in <span
							class="p-adr adr"
							itemprop="address"
							itemscope
							itemtype="https://schema.org/PostalAddress"
						><span class="p-locality locality" itemprop="addressLocality">Toronto</span>, <span class="p-country-name country-name" itemprop="addressCountry"
							>Canada</span></span>.
					</p>

					<p>I have experience with both frontend and backend development, with focus on responsive and accessible design, typescript and node.js.</p>
				</div>

				<p>You can find my projects, personal work, blog and some social networks on the links below:</p>
				<nav>
					<ul>
						<li>
							<a href={BLOG.url} rel="noreferrer noopener">
								<Icon name="uil:file-edit-alt" title="" />
								My Blog
							</a>
						</li>
						<li>
							<a href={PROJECTS.url} rel="noreferrer noopener">
								<Icon name="uil:flask" title="" />
								Project Highlights
							</a>
						</li>
						<li>
							<a href={TALKS.url} rel="noreferrer noopener">
								<Icon name="uil:presentation-check" title="" />
								Talks I've given
							</a>
						</li>
						<li>
							<a href="https://github.com/madcampos" rel="noreferrer noopener me authn" itemprop="sameAs">
								<Icon name="uil:github-alt" title="" />
								GitHub
							</a>
						</li>
						<li>
							<a href="https://codepen.io/madcampos" rel="noreferrer noopener me" itemprop="sameAs">
								<Icon name="brandico:codepen" title="" />
								CodePen
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/madcampos/" rel="noreferrer noopener" itemprop="sameAs">
								<Icon name="uil:linkedin-alt" title="" />
								LinkedIn
							</a>
						</li>
						<li>
							<a href="mailto:me@madcampos.dev" rel="noreferrer noopener me">
								<Icon name="uil:envelope" title="" />
								<span class="u-email email" itemprop="email">me@madcampos.dev</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</article>
	</div>

	<ThemeSwitcher slot="footer" />
</BaseLayout>
