---
import { Icon } from 'astro-icon/components';

import BaseLayout from '../layouts/Base.astro';

import '../assets/css/home.css';

import avatar from '../assets/images/me.jpg';
import logo from '../assets/images/logo.svg';
import { Picture } from 'astro:assets';

const links = {
	GitHub: {
		url: 'https://github.com/madcampos',
		icon: 'brandico:github',
		iconAlt: 'An icon with Github\'s logo.'
	},
	CodePen: {
		url: 'https://codepen.io/madcampos',
		icon: 'brandico:codepen',
		iconAlt: 'An icon with Codepen\'s logo.'
	},
	LinkedIn: {
		url: 'https://www.linkedin.com/in/madcampos/',
		icon: 'brandico:linkedin-rect',
		iconAlt: 'An icon with LinkedIn\'s logo.'
	},
	'Project Highlights': {
		url: '/projects',
		icon: 'uil:arrow',
		iconAlt: 'An icon of two arrows pointing to opposite directions, meaning "code projects".'
	},
	'Talks I\'ve given': {
		url: '/talks',
		icon: 'uil:chat-bubble-user',
		iconAlt: 'An icon of a chat bubble with a user inside, meaning "talks".'
	},
	'My Blog': {
		url: '/blog',
		icon: 'uil:pen',
		iconAlt: 'An icon of a pen, meaning "blog".'
	}
};

// eslint-disable-next-line @typescript-eslint/no-magic-numbers
const AVATAR_WIDTHS = [256, 512, 768, avatar.width];

const siteUrl = new URL('', Astro.site);
---
<BaseLayout
	title="Web Developer | Marco Campos"
	description="Marco Campos - Senior Web Developer - Vue.js, Node.js, TypeScript, JavaScript"
	url={siteUrl}
	tags={['Senior web developer', 'web developer', 'vue.js', 'vue', 'node.js', 'javascript', 'typescript', 'webdev']}
>
	<h1>
		<a href="/">
			<img
				src={logo.src}
				width={logo.width}
				height={logo.height}
				alt="My moniker, &quot;madcampos&quot;, written between curly braces on a monospaced font."
			/>
		</a>
	</h1>
	<section id="about">
		<aside>
			{/* eslint-disable-next-line astro/jsx-a11y/img-redundant-alt */}
			<Picture
				src={avatar}
				alt="A picture of my face with a smile looking at the camera. I'm wearing aviator glasses, a fake fur winter hat and an orange scarf."
				loading="eager"
				widths={AVATAR_WIDTHS}
				sizes={`(max-width: 360px) 256px, (max-width: 720px) 512px, (max-width: 1280px) 768px, ${avatar.width}px`}
				quality="high"
			/>
		</aside>
		<article>
			<p>Hi there! My name is <em>Marco Campos</em>, and I'm a Toronto based developer.</p>
			<p>I've worked in both frontend and backend development, with focus on responsive and accessible design, typescript and node.js.</p>

			<p>You can find my projects, personal work and social netowrks on:</p>
			<ul>
				{Object.entries(links).map(([title, { url, icon, iconAlt }]) => (
					<li>
						<Icon name={icon} title={iconAlt} />
						<a href={url} rel="noreferrer noopener">
							{title}
						</a>
					</li>
				))}
			</ul>
		</article>
	</section>
</BaseLayout>
