---
import { OFFLINE } from '../constants.js';

import GlitchLogo from '../components/GlitchLogo/index.astro';
import SiteNav from '../components/SiteNav/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';
import BaseLayout from '../layouts/Base.astro';

import '../assets/css/pages/404.css';
---
<BaseLayout
	htmlTitle={OFFLINE.title}
	title={OFFLINE.titleString}
	url={OFFLINE.url}
	description={OFFLINE.description}
	tags={OFFLINE.tags}
>
	<SkipToContent slot="header" />
	<header slot="header">
		<SiteNav />
		<div>
			<GlitchLogo />
		</div>
		<h1>404 - Not found</h1>
	</header>

	<div id="contents">
		<p>Looks like you hit a dead-end. It seems though the site is downloaded <em>or</em> you are offline.</p>

		<p>All pages are still navegable and you should have <strong>no problems</strong> visiting most pages.</p>
		<p>If you are completely offline, you won't be able to see or use:</p>
		<ul>
			<li>Images from pages not visited before.</li>
			<li>Some dynamic content, like adding comments.</li>
		</ul>

		<p>
			<a href="/">Go back home</a>
		</p>
	</div>
</BaseLayout>
