---
import Logo from '../components/Logo/index.astro';
import { GLOBALS } from '../constants';
import InternalPageLayout from '../layouts/InternalPage.astro';

import '../assets/css/pages/todo.css';

interface Task {
	isDone: boolean;
	text: string;
	children?: Task[];
}

function formatText(text: string) {
	return text.replaceAll(/\[(?<text>.+?)\]\((?<url>.+?)\)/giu, '<a href="$<url>">$<text></a>');
}

function renderTask(task: Task) {
	const taskId = crypto.randomUUID();
	let childTasks = '';

	if (task.children) {
		childTasks = `
			<ul>
				${task.children.map((childTask) => renderTask(childTask)).join('\n')}
			</ul>
		`;
	}

	return `
		<li>
			<label id="label-${taskId}" for="${taskId}">
				<input
					type="checkbox"
					id="${taskId}"
					name="${taskId}"
					aria-labelledby="label-${taskId}"
					${task.isDone ? 'checked' : ''}
				/>
				<span>${formatText(task.text)}</span>
			</label>
			${childTasks}
		</li>
	`;
}

const tasks: Task[] = [
	{ isDone: true, text: 'Make logos an svg component so it can be styled with CSS' },
	{ isDone: false, text: 'Add vintage buttons with SVG for better text fitting/styling' },
	{ isDone: false, text: 'Add [webmention badges](https://webmention.io/docs/badges)' },
	{ isDone: false, text: 'Improve [print style](https://voussoir.net/writing/css_for_printing)' },
	{
		isDone: true,
		text: 'Improve [high contrast mode](https://blogs.windows.com/msedgedev/2020/09/17/styling-for-windows-high-contrast-with-new-standards-for-forced-colors/) (fix things that are in the wrong colors)',
		children: [
			{ isDone: true, text: 'Keep orange but make it brighter (add white)' },
			{ isDone: true, text: 'Small text should not be so small' },
			{ isDone: true, text: 'Medium dark grey background should be darker (add black). (Maybe add a border instead)' },
		]
	},
	{
		isDone: false,
		text: 'Implement themes + theme selector',
		children: [
			{ isDone: true, text: 'Dark mode (AAA contrast)' },
			{ isDone: true, text: 'Light mode (AAA contrast)' },
			{
				isDone: true,
				text: 'High contrast yellow on black (AAA contrast)',
				children: [
					{ isDone: true, text: 'Make underline solid' },
					{ isDone: true, text: 'Make underline distance from text larger' },
					{ isDone: true, text: 'Make tags text bold' },
					{ isDone: true, text: 'Special "code theme" for high contrast' },
					{ isDone: true, text: 'Increase line height and letter spacing' },
				]
			},
			{
				isDone: true,
				text: 'Forced colors (AAA contrast)',
				children: [
					{ isDone: true, text: 'Fix tags and grayscale filter for avatars' },
					{ isDone: true, text: 'SVGs added by css need to change color' },
				]
			},
			{ isDone: true, text: 'UwU theme' },
			{ isDone: false, text: 'Old interwebs' },
			{ isDone: false, text: 'Skeuomorphic cork board' },
			{ isDone: false, text: '"Zen"' },
			{ isDone: false, text: '"Hacker" (green on black)' },
		]
	},
	{
		isDone: false,
		text: 'Finish integrating web mentions',
		children: [
			{ isDone: true, text: 'Move to cloudflare' },
			{ isDone: false, text: 'Add cloudflare function to handle sending webmentions' },
			{ isDone: false, text: 'Add cloudflare function to handle receiving webmentions' },
			{ isDone: false, text: 'Add webmention to posts as a comment system' },
			{ isDone: false, text: 'Add form to send webmention as comment from the blog' },
			{ isDone: false, text: 'Add guestbook as webmentions' },
		]
	},
	{ isDone: true, text: 'Add "about" page (based on <a href="https://slashpages.net/">slash pages</a>)' },
	{ isDone: true, text: 'Add "ai" page (based on <a href="https://slashpages.net/">slash pages</a>)' },
	{ isDone: false, text: 'Add "blogroll" page (based on <a href="https://slashpages.net/">slash pages</a>)' },
	{ isDone: false, text: 'Add "carry" page (based on <a href="https://slashpages.net/">slash pages</a>)' },
	{ isDone: false, text: 'Add "changelog" page (based on <a href="https://slashpages.net/">slash pages</a>)' },
	{ isDone: true, text: 'Add "ARCHITECTURE.md" file <strong>N/A</strong>' },
	{ isDone: true, text: 'Add noop "change password" page' },
	{ isDone: false, text: 'Add dnt/dnt policy' },
	{ isDone: false, text: 'Add ko-fi donation page' },
	{ isDone: false, text: 'Add feeds page listing all available feeds' },
	{ isDone: false, text: 'Make projects and talks available as feeds' },
	{ isDone: false, text: 'Improve rss styles' },
	{ isDone: false, text: 'Add humans.txt' },
	{ isDone: false, text: 'Add indieweb.txt' },
	{ isDone: false, text: 'Add pgp key?' },
	{
		isDone: false,
		text: 'Add Resume',
		children: [
			{ isDone: false, text: '[JSON resume format](https://jsonresume.org/schema/)' },
			{ isDone: false, text: 'HTML format' },
			{ isDone: false, text: 'PDF Format' },
			{ isDone: false, text: '[DOCX](https://www.npmjs.com/package/docx) [format](https://www.npmjs.com/package/docxtemplater)' },
		]
	},
	{
		isDone: true,
		text: 'Add Roadmap page',
		children: [
			{ isDone: true, text: 'Make items tooglable' },
			{ isDone: true, text: 'Save to local storage' },
		]
	},
	{ isDone: false, text: 'Add [search functionality](https://pagefind.app/docs/)' },
	{ isDone: false, text: 'Add security.txt' },
	{ isDone: false, text: 'Add stats board' },
	{ isDone: false, text: 'Add styleguide page' },
	{
		isDone: false,
		text: 'Add debug mode',
		children: [
			{ isDone: false, text: 'Make debug css togglable' },
			{ isDone: false, text: 'Add JS report for issues (?)' },
		]
	},
	{ isDone: false, text: 'Add [webauthn](https://webauthn.io/) (?)' },
	{ isDone: false, text: 'Add [web monetization](https://webmonetization.org/docs/) (?)' },
	{ isDone: false, text: 'Add a "uses" page' },
	{ isDone: false, text: 'Add webfinger endpoint' },
	{
		isDone: false,
		text: 'Add webrings',
		children: [
			{ isDone: false, text: '[Queer Coded](https://isaacfish.neocities.org/webring/)' },
			{ isDone: false, text: '[CSS Joy](https://cs.sjoy.lol/)' },
			{ isDone: false, text: '[Bucketfish](https://webring.bucketfish.me/)' },
			{ isDone: false, text: '[Indieweb](https://indieweb.org/webring)' },
		]
	},
	{ isDone: false, text: 'Add a [CSS Naked day](https://css-naked-day.github.io/)' },
	{ isDone: false, text: 'Add a [JS Naked day](https://meiert.com/en/blog/april-24-is-js-naked-day/)' },
	{ isDone: false, text: 'Have a [brag document](https://uxdesign.cc/why-you-should-have-a-brag-document-eb6cc82ec80a)' },
];

---

<InternalPageLayout
	htmlTitle={['To-Do', ...GLOBALS.title]}
	title="To-Do"
	description="To-Do and work in progress items for Marco Campos website."
	url="/todo/"
	tags={['todo', 'wip', 'work in progress', ...GLOBALS.tags]}
>
	<Logo
		style="full"
		subtitle="TODO"
		shortSubtitle="TODO"
		url="/todo/"
		urlTitle="TODO Page"
		slot="logo"
	/>
	<Fragment slot="header">To-Do</Fragment>

	<p>
		Based on <a href="https://jamesg.blog/2024/02/19/personal-website-ideas/">this post</a> and <a href="https://shellsharks.com/notes/2023/08/15/website-component-checklist"
		>this checklist</a>.
	</p>

	<ul id="todo-list">
		<Fragment set:html={tasks.map((task) => renderTask(task)).join('\n')} />
	</ul>

	<h2>Webmention references</h2>

	<ul>
		<li>
			<a href="https://indiewebify.me">https://indiewebify.me</a>
		</li>
		<li>
			<a href="https://webmention.io/dashboard">https://webmention.io/dashboard</a>
		</li>
		<li>
			<a href="https://telegraph.p3k.io/dashboard">https://telegraph.p3k.io/dashboard</a>
		</li>
		<li>
			<a href="https://webmention.rocks/">https://webmention.rocks/</a>
		</li>
		<li>
			<a href="https://indieweb.org/posts#Types_of_Posts">https://indieweb.org/posts#Types_of_Posts</a>
		</li>
		<li>
			<a href="https://kld.dev/adding-webmentions/">https://kld.dev/adding-webmentions/</a>
		</li>
		<li>
			<a href="https://daily-dev-tips.com/posts/goodbye-comments-welcome-webmentions/">https://daily-dev-tips.com/posts/goodbye-comments-welcome-webmentions/</a>
		</li>
	</ul>
	<script src="../assets/js/todo.ts"></script>
</InternalPageLayout>
