---
import logoMini from '../assets/images/logo-blog-mini.svg';
import logoMicro from '../assets/images/logo-blog-micro.svg';

interface Props {
	title: string
}

const { title } = Astro.props;

const logoDescription = 'Blog logo consisting of stylized "{m}" with a subtext of "--blog"';
const linkTitle = 'Back to blog';
const blogUrl = new URL('/blog', Astro.site).toString();
---
<header class="blog-page-header">
	<nav id="back-to-blog">
		<a id="link-small" href={blogUrl} title={linkTitle}>
			<img src={logoMini.src} alt={logoDescription} role="presentation" />
		</a>
		<a id="link-big" href={blogUrl} title={linkTitle}>
			<img src={logoMicro.src} alt={logoDescription} role="presentation" />
		</a>
	</nav>
	<h1>{title}</h1>
</header>
