---
import { pwaInfo } from 'virtual:pwa-info';

import defaultSocialImage from '../assets/images/logo-micro.png';

interface Props {
	htmlTitle?: string[],
	title: string,
	url: string,
	description: string,
	tags?: string[],
	image?: string,
	imageAlt?: string,
	createdAt?: Date,
	updatedAt?: Date,
	hasFeed?: boolean
}

const {
 htmlTitle, title, url,
 description, tags,
 image, imageAlt,
 createdAt: publishedDate,
 updatedAt: updatedDate,
 hasFeed = false
} = Astro.props;

const baseUrl = Astro.site?.toString() ?? '/';
const fullUrl = new URL(url, baseUrl).toString();

const socialImageAlt = imageAlt ?? 'Logo for madcampos\' site consisting of stylized "{m}" in blue.';
const socialImage = `${baseUrl}${(image ?? defaultSocialImage.src).replace(/^\//iu, '')}`;
---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="canonical" href={fullUrl} />
	{ hasFeed && <link rel="alternate" type="application/rss+xml" href={`${baseUrl}blog/feed.xml`} title="Marco Campos' Blog" /> }
	<link rel="sitemap" href={`${baseUrl}sitemap-index.xml`} />

	<title>{htmlTitle?.join(' | ') ?? title}</title>

	<!-- App Metadata -->
	<link rel="icon" href={`${baseUrl}icons/favicon.svg`} sizes="any" type="image/svg+xml" />
	<link rel="icon" href={`${baseUrl}favicon.ico`} sizes="48x48" type="image/x-icon" />
	<meta name="theme-color" content="#0080ff" />

	{/* eslint-disable-next-line astro/no-set-html-directive */}
	{pwaInfo && (<Fragment set:html={pwaInfo.webManifest.linkTag} />)}

	<!-- Social metadata -->
	<meta property="og:title" name="twitter:title" itemprop="name" content={title} />

	<meta property="og:type" content={hasFeed ? 'article' : 'website'} />
	<meta name="twitter:card" content={socialImage ? 'summary_large_image' : 'summary'} />

	<meta property="og:locale" itemprop="inLanguage" content="en_US" />
	<meta property="og:url" itemprop="url" content={fullUrl} />

	<meta property="og:description" name="description" itemprop="abstract" content={description} />
	<meta name="twitter:description" content={description} />

	<meta property="og:image" name="twitter:image" itemprop="image" content={socialImage} />
	<meta property="og:image:alt" name="twitter:image:alt" content={socialImageAlt} />

	<meta property="article:author" name="author" content="Marco Campos" />
	<meta name="twitter:creator" content="@madcampos" />

	<meta name="twitter:dnt" content="on" />
	<meta name="twitter:widgets:csp" content="on" />
	<meta name="twitter:widgets:autoload" content="off" />
	<meta name="twitter:widgets:theme" content="dark" />

	{tags && (<meta name="keywords" itemprop="keywords" property="article:tag" content={tags.join(', ')} />)}
	{publishedDate && (<meta property="article:published_time" content={publishedDate.toISOString()} />)}
	{updatedDate && (<meta property="article:modified_time" content={updatedDate.toISOString()} />)}

	<!-- Webmention -->
	<link rel="webmention" href="https://webmention.io/madcampos.dev/webmention" />
	<link rel="pingback" href="https://webmention.io/madcampos.dev/xmlrpc" />

	<!-- Changelog -->
	<link rel="alternate" type="application/rss+xml" href={`${baseUrl}changelog.xml`} title="Changelog (Version History)" />

	<!-- Apple icons -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="apple-touch-icon" href={`${baseUrl}apple-touch-icon-180x180.png`} />

	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-2048x2732.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2732x2048.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-2048x2732.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2732x2048.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1668x2388.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2388x1668.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1668x2388.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2388x1668.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1536x2048.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2048x1536.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1536x2048.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2048x1536.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1668x2224.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2224x1668.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1668x2224.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2224x1668.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1620x2160.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2160x1620.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1620x2160.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2160x1620.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1290x2796.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2796x1290.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1290x2796.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2796x1290.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1179x2556.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2556x1179.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1179x2556.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2556x1179.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1284x2778.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2778x1284.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1284x2778.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2778x1284.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1170x2532.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2532x1170.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1170x2532.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2532x1170.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1125x2436.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2436x1125.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1125x2436.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2436x1125.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1242x2688.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2688x1242.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1242x2688.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2688x1242.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-828x1792.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-1792x828.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-828x1792.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-1792x828.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-1242x2208.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-2208x1242.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-1242x2208.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-2208x1242.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-750x1334.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-1334x750.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-750x1334.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-1334x750.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-light-640x1136.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-light-1136x640.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
		href={`${baseUrl}splash/apple-splash-portrait-dark-640x1136.png`}
	/>
	<link
		rel="apple-touch-startup-image"
		media="screen and (prefers-color-scheme: dark) and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)"
		href={`${baseUrl}splash/apple-splash-landscape-dark-1136x640.png`}
	/>
</head>
