---
import { pwaInfo } from 'virtual:pwa-info';

import { BLOG, GLOBALS } from '../constants.js';

import { join } from '../utils/path.js';

import printStylesheet from '../assets/css/print.css?url';
import defaultSocialImage from '../assets/images/social/social.png';

interface Props {
	htmlTitle?: string[];
	title: string;
	url: string;
	description: string;
	tags?: string[];
	image?: string;
	imageAlt?: string;
	createdAt?: Date;
	updatedAt?: Date;
	hasFeed?: boolean;
}

const {
	htmlTitle,
	title,
	url,
	description,
	tags,

	image,
	imageAlt,

	createdAt: publishedDate,
	updatedAt: updatedDate,

	hasFeed = false
} = Astro.props;

const fullUrl = new URL(url, new URL(GLOBALS.url, Astro.site)).toString();

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const socialImageAlt = imageAlt ?? GLOBALS.logoAltText!.micro;
const socialImage = join([GLOBALS.url, image ?? defaultSocialImage.src]);
---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

	<title>{htmlTitle?.join(' | ') ?? title}</title>

	<!-- URLs -->
	<link rel="canonical" href={fullUrl} />
	<link rel="sitemap" href={join([GLOBALS.url, 'sitemap-index.xml'], { trailingSlash: false })} />
	{hasFeed && <link rel="alternate" type="application/rss+xml" href={join([BLOG.url, 'feed.xml'], { trailingSlash: false })} title={BLOG.titleString} />}

	<!-- App Metadata -->
	<link rel="icon" href={join([GLOBALS.url, 'icons/icon.svg'], { trailingSlash: false })} sizes="any" type="image/svg+xml" />
	<link rel="icon" href={join([GLOBALS.url, 'favicon.ico'], { trailingSlash: false })} sizes="48x48" type="image/x-icon" />
	<meta name="theme-color" content="#0080ff" />
	<link rel="license" href={join([GLOBALS.url, 'license'])} />

	{/* eslint-disable-next-line astro/no-set-html-directive */}
	{pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

	<!-- Social metadata -->
	<meta property="og:title" name="twitter:title" itemprop="name" content={title} />

	<meta property="og:type" content={hasFeed ? 'article' : 'website'} />
	<meta name="twitter:card" content={socialImage ? 'summary_large_image' : 'summary'} />

	<meta property="og:locale" itemprop="inLanguage" content="en_US" />
	<meta property="og:url" itemprop="url" content={fullUrl} />

	<meta property="og:description" name="description" itemprop="abstract" content={description} />
	<meta name="twitter:description" content={description} />

	<meta property="og:image" name="twitter:image" itemprop="image" content={socialImage} />
	<meta property="og:image:alt" name="twitter:image:alt" content={socialImageAlt} />

	<meta property="article:author" name="author" content="Marco Campos" />
	<meta name="twitter:creator" content="@madcampos" />

	<meta name="twitter:dnt" content="on" />
	<meta name="twitter:widgets:csp" content="on" />
	<meta name="twitter:widgets:autoload" content="off" />
	<meta name="twitter:widgets:theme" content="dark" />

	{tags && <meta name="keywords" itemprop="keywords" property="article:tag" content={tags.join(', ')} />}
	{
		publishedDate && (
			<meta property="article:published_time" content={publishedDate.toISOString()} />
			<meta name="publish_date" property="og:publish_date" content={publishedDate.toISOString()} />
		)
	}
	{
		updatedDate && (
			<meta property="article:modified_time" content={updatedDate.toISOString()} />
			<meta name="updated_date" property="og:updated_date" content={updatedDate.toISOString()} />
		)
	}

	<!-- Webmention -->
	<link rel="webmention" href="https://webmention.io/madcampos.dev/webmention" />
	<link rel="pingback" href="https://webmention.io/madcampos.dev/xmlrpc" />

	<!-- Changelog -->
	<link rel="alternate" type="application/rss+xml" href={join([GLOBALS.url, 'changelog.xml'], { trailingSlash: false })} title="Changelog (Version History)" />

	<!-- Apple icons -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<!-- Print Stylesheet -->
	<link rel="stylesheet" type="text/css" href={printStylesheet} media="print" />
</head>
