---
import { SITE_URL } from '../constants';

import logoMini from '../assets/images/logo-mini.svg';
import logoMicro from '../assets/images/logo-micro.svg';

interface Props {
	title: string
}

const { title } = Astro.props;

const logoDescription = 'Logo consisting of stylized "{m}".';
const linkTitle = 'Back to Home';
---
<header>
	<nav id="back-to-home">
		<a id="link-small" href={SITE_URL} title={linkTitle}>
			<img
				src={logoMini.src}
				width={logoMini.width}
				height={logoMini.height}
				alt={logoDescription}
			/>
		</a>
		<a id="link-big" href={SITE_URL} title={linkTitle}>
			<img
				src={logoMicro.src}
				width={logoMicro.width}
				height={logoMicro.height}
				alt={logoDescription}
			/>
		</a>
	</nav>
	<h1>{title}</h1>
</header>
