---
import InternalPageLayout from '../../layouts/InternalPage.astro';
import ProjectCard from '../../components/ProjectCard/index.astro';

import { PROJECTS_DESCRIPTION, PROJECTS_LOGO_ALT, PROJECTS_TITLE, PROJECTS_TITLE_STRING, PROJECTS_URL } from '../../constants';

import { listAllProjects } from '../../utils/projects';

import logoProjects from '../../assets/images/logo-projects.svg';

const projects = await listAllProjects();
---

<InternalPageLayout
	htmlTitle={PROJECTS_TITLE}
	title={PROJECTS_TITLE_STRING}
	description={PROJECTS_DESCRIPTION}
	url={PROJECTS_URL}
>
	<a href={PROJECTS_URL} slot="logo">
		<img
			src={logoProjects.src}
			width={logoProjects.width}
			height={logoProjects.height}
			alt={PROJECTS_LOGO_ALT}
		/>
	</a>
	<Fragment slot="header">
		{PROJECTS_TITLE_STRING}
	</Fragment>

	{ projects.map(async (project) => {
		const { Content } = await project.render();

		return (
			<ProjectCard
				status={project.data.status}
				createdAt={project.data.createdAt}
				updatedAt={project.data.updatedAt}
				version={project.data.version}
				url={project.data.url}
				image={project.data.image}
				imageAlt={project.data.imageAlt}
				techStack={project.data.techStack}
				repository={project.data.repository}
			>
				<span slot="title">{project.data.title}</span>

				<Content />
			</ProjectCard>
		);
	}) }
</InternalPageLayout>
