---
import ProjectCard from '../../components/ProjectCard/index.astro';
import InternalPageLayout from '../../layouts/InternalPage.astro';

import { PROJECTS } from '../../constants';

import { listAllProjects } from '../../utils/projects';

import logoProjects from '../../assets/images/logo/logo-proj.svg';
import projectsSocialImage from '../../assets/images/social/social-proj.png';

const projects = await Promise.all((await listAllProjects()).map(async (project) => {
	const { Content } = await project.render();

	return {
		data: project.data,
		Content
	};
}));
---
<InternalPageLayout
	htmlTitle={PROJECTS.title}
	title={PROJECTS.titleString}
	description={PROJECTS.description}
	url={PROJECTS.url}
	image={projectsSocialImage.src}
	imageAlt={PROJECTS.logoAltText?.micro}
>
	<a href={PROJECTS.url} slot="logo">
		<img
			src={logoProjects.src}
			width={logoProjects.width}
			height={logoProjects.height}
			alt={PROJECTS.logoAltText?.regular}
		/>
	</a>
	<Fragment slot="header">
		{PROJECTS.titleString}
	</Fragment>

	{
		projects.map(({ Content, data }) => (
			<ProjectCard
				status={data.status}
				createdAt={data.createdAt}
				updatedAt={data.updatedAt}
				version={data.version}
				url={data.url}
				image={data.image}
				imageAlt={data.imageAlt}
				techStack={data.techStack}
				repository={data.repository}
			>
				<span slot="title">{data.title}</span>

				<Content />
			</ProjectCard>
		))
	}
</InternalPageLayout>
