---
import InternalPage from '../../layouts/InternalPage.astro';
import ProjectCard from '../../components/ProjectCard/index.astro';

import { PROJECTS_TITLE, PROJECTS_URL } from '../../constants';

import { listAllProjects } from '../../utils/projects';

const projects = await listAllProjects();
---

<InternalPage
	htmlTitle={PROJECTS_TITLE}
	title={PROJECTS_TITLE[0] ?? ''}
	description="A list of all my projects"
	url={PROJECTS_URL}
>
	<span slot="header">Project Highlights</span>

	{ projects.map(async (project) => {
		const { Content } = await project.render();

		return (
			<ProjectCard
				status={project.data.status}
				createdAt={project.data.createdAt}
				updatedAt={project.data.updatedAt}
				version={project.data.version}
				url={project.data.url}
				image={project.data.image}
				imageAlt={project.data.imageAlt}
				techStack={project.data.techStack}
				repository={project.data.repository}
			>
				<span slot="title">{project.data.title}</span>

				<Content />
			</ProjectCard>
		);
	}) }
</InternalPage>
