---
import Logo from '../../components/Logo/index.astro';
import ProjectCard from '../../components/ProjectCard/index.astro';
import InternalPageLayout from '../../layouts/InternalPage.astro';

import { PROJECTS } from '../../constants.js';

import { listAllProjects } from '../../utils/projects.js';

import projectsSocialImage from '../../assets/images/social/social-proj.png';

const projects = await Promise.all((await listAllProjects()).map(async (project) => {
	const { Content } = await project.render();

	return {
		data: project.data,
		Content
	};
}));
---
<InternalPageLayout
	htmlTitle={PROJECTS.title}
	title={PROJECTS.titleString}
	description={PROJECTS.description}
	url={PROJECTS.url}
	image={projectsSocialImage.src}
	imageAlt="The letter &quot;m&quot; on a monospaced font, in blue, between curly braces.Below it, a subtext of &quot;Proj.&quot; in orange on the lower right corner."
>
	<Logo
		style="full"
		title="Marco Campos' - Projects"
		subtitle="Projects"
		shortSubtitle="Proj."
		url={PROJECTS.url}
		slot="logo"
	/>
	<Fragment slot="header">
		{PROJECTS.titleString}
	</Fragment>

	{
		projects.map(({ Content, data }) => (
			<ProjectCard
				status={data.status}
				createdAt={data.createdAt}
				updatedAt={data.updatedAt}
				version={data.version}
				url={data.url}
				image={data.image}
				imageAlt={data.imageAlt}
				techStack={data.techStack}
				repository={data.repository}
			>
				<span slot="title">{data.title}</span>

				<Content />
			</ProjectCard>
		))
	}
</InternalPageLayout>
