---
import ProjectCard from '../../components/ProjectCard/index.astro';
import InternalPageLayout from '../../layouts/InternalPage.astro';

import { PROJECTS } from '../../constants';

import { listAllProjects } from '../../utils/projects';

import logoProjects from '../../assets/images/logo/logo-proj.svg';
import projectsSocialImage from '../../assets/images/social/social-proj.png';

const projects = await listAllProjects();
---
<InternalPageLayout
	htmlTitle={PROJECTS.title}
	title={PROJECTS.titleString}
	description={PROJECTS.description}
	url={PROJECTS.url}
	image={projectsSocialImage.src}
	imageAlt={PROJECTS.logoAltText?.micro}
>
	<a href={PROJECTS.url} slot="logo">
		<img
			src={logoProjects.src}
			width={logoProjects.width}
			height={logoProjects.height}
			alt={PROJECTS.logoAltText?.regular}
		/>
	</a>
	<Fragment slot="header">
		{PROJECTS.titleString}
	</Fragment>

	{
		(
		<>
			{projects.map(async (project) => {
				const { Content } = await project.render();

				return (
			<ProjectCard
				status={project.data.status}
				createdAt={project.data.createdAt}
				updatedAt={project.data.updatedAt}
				version={project.data.version}
				url={project.data.url}
				image={project.data.image}
				imageAlt={project.data.imageAlt}
				techStack={project.data.techStack}
				repository={project.data.repository}
			>
				<span slot="title">{project.data.title}</span>

				<Content />
			</ProjectCard>
		);
				})}
			</>
		)
	}
</InternalPageLayout>
