---
import InternalPage from '../../layouts/InternalPage.astro';
import { listAllProjects } from '../../utils/projects';

import '../../assets/css/projects.css';

const projects = await listAllProjects();

const { format: formatDate } = new Intl.DateTimeFormat('en-US', { dateStyle: 'long' });
---

<InternalPage
	title="Projects"
	description="A list of all my projects"
	url="/projects"
>
{ projects.map(project => (
	<article>
		<header>
			<h2>{ project.data.title}</h2>
		</header>
		<div class="project-content">
			{project.data.image && <img class="project-image" loading="lazy" role="presentation" alt={project.data.imageAlt} src={project.data.image.src} />}
			{project.body}
		</div>
		<footer>
			<details class="project-info">
				<summary><span class="icon">🔍</span> More info</summary>
				<h3><span class="icon">ℹ️</span> Project info</h3>
				<ul>
					<li>Started in: <time datetime={project.data.createdAt.toISOString()}>{formatDate(project.data.createdAt)}</time></li>
					{project.data.version && <li>Current version: {project.data.version}</li>}
					{project.data.updatedAt && <li>Last updated: <time datetime={project.data.updatedAt.toISOString()}>{formatDate(project.data.updatedAt)}</time></li>}
					<li>Current status: <span class={`tag status-${project.data.status}`}>{project.data.status}</span></li>
					{project.data.repository && <li>Repository: <a href={project.data.repository} rel="noopener noreferrer">{project.data.repository}</a></li>}
				</ul>

				<h3><span class="icon">🛠️</span> Technologies used</h3>
				<ul class="technology-tags">
					{project.data.techStack?.map((tech) => (
						<li class="tag">{tech}</li>
					))}
				</ul>
			</details>

			{project.data.url && <a href={project.data.url} rel="noopener noreferrer">View Project</a>}
		</footer>
	</article>
)) }
</InternalPage>
