---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import './styles.css';

interface Props {
	url?: string;
	event?: string;
	date?: Date;

	image?: ImageMetadata;
	imageAlt?: string;
}

const { url, event, date, image, imageAlt } = Astro.props;

// eslint-disable-next-line @typescript-eslint/no-magic-numbers
const IMAGE_WIDTHS = [128, 256, 512, 768, image?.width ?? 1024];
const formatter = new Intl.DateTimeFormat('en-US', { dateStyle: 'long', timeStyle: 'short' });
---
<article class="talk-card" itemscope itemtype="https://schema.org/EducationEvent">
	{
		image && (
			<picture
				class="project-icon"
				itemprop="image"
				itemscope
				itemtype="https://schema.org/ImageObject"
			>
				<Image
					itemprop="contentUrl"
					src={image}
					alt={imageAlt ?? ''}
					loading="lazy"
					widths={IMAGE_WIDTHS}
					sizes={`(max-width: 360px) 128px, (max-width: 720px) 256px, (max-width: 1280px) 512px, (max-width: 2160px) 768px ${image.width}px`}
					quality={75}
				/>
			</picture>
		)
	}

	<header>
		<a href={url}>
			<h2 itemprop="name">
				<slot name="title"></slot>
			</h2>
		</a>
		<aside>
			{
				date && (
					<small>
						<Icon name="uil:calendar-alt" title="An icon of a calendar" />
						<time datetime={date.toISOString()} itemprop="startDate">{formatter.format(date)}</time>
					</small>
				)
			}
			{
				event && (
					<small itemprop="superEvent">
						<Icon name="uil:presentation-play" title="Icon of a presentation board with a play symbol in it&apos;s center." /> {event}
					</small>
				)
			}
		</aside>
	</header>

	<div class="talk-content" itemprop="description">
		<slot></slot>
	</div>
	<div id="talk-links">
		{
			url && (
				<a href={url} itemprop="url">
					<Icon name="uil:presentation-plus" title="Icon of a presentation board with a plus symbol in it&apos;s center." />
					View Talk Info
				</a>
			)
		}
	</div>
</article>
