---
import { Icon } from 'astro-icon/components';

import './styles.css';

interface SiteTheme {
	id: string;
	name: string;
	description: string;
	accessible: boolean;
}

const themes: SiteTheme[] = [
	{
		id: 'system',
		name: 'System Default',
		description: 'The default theme for the operating system, either light or dark.',
		accessible: true
	},
	{
		id: 'light',
		name: 'Light',
		description: 'The default light theme.',
		accessible: true
	},
	{
		id: 'dark',
		name: 'Dark',
		description: 'The default dark theme.',
		accessible: true
	},
	{
		id: 'high-contrast',
		name: 'High Contrast',
		description: 'A high contrast dark and yellow theme.',
		accessible: true
	},
	{
		id: 'uwu',
		name: 'UwU Theme',
		description: 'A cute anime inspired theme.',
		accessible: false
	}
];
---

<aside id="theme-switcher">
	<script src="../../assets/js/theme-switcher.ts"></script>

	<button type="button" popovertarget="theme-switcher-dialog">
		<Icon name="uil:palette" title="Theme switcher" />
	</button>

	<dialog id="theme-switcher-dialog" popover>
		<form action="./" method="get">
			<header>
				<h2>Choose a theme</h2>
			</header>
			<div id="theme-list">
				{
					themes.map((theme) => (
						<label
							for={`theme-input-${theme.id}`}
							id={`theme-label-${theme.id}`}
							class="theme-label"
						>
							<input
								type="radio"
								name="theme"
								value={theme.id}
								id={`theme-input-${theme.id}`}
								required
							/>

							<svg viewBox="0 0 100 70" class="theme-preview" data-theme={theme.id === 'system' ? 'light' : theme.id} role="presentation">
								<g>
									<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

									<text class="theme-preview-text theme-preview-mono-text" x="5" y="30" role="presentation">Aa</text>
									<text class="theme-preview-text theme-preview-sans-text" x="5" y="60" role="presentation">Aa</text>

									<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
									<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
									<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
									<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
									<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
								</g>

								{
									theme.id === 'system' && (
										<clipPath id="theme-preview-system-mask">
											<polygon points="0,70 100,0 100,70" />
										</clipPath>
										<g data-theme="dark" clip-path="url(#theme-preview-system-mask)">
											<rect class="theme-preview-bg" x="0" y="0" width="100" height="70" />

											<text class="theme-preview-text theme-preview-mono-text" x="5" y="30" role="presentation">Aa</text>
											<text class="theme-preview-text theme-preview-sans-text" x="5" y="60" role="presentation">Aa</text>

											<rect class="theme-preview-border theme-preview-dark-bg" x="60" y="20" width="25" height="35" />
											<circle class="theme-preview-border theme-preview-theme-color" cx="60" cy="20" r="10" />
											<circle class="theme-preview-border theme-preview-accent-color" cx="60" cy="55" r="10" />
											<circle class="theme-preview-border theme-preview-complementary-color" cx="85" cy="20" r="10" />
											<circle class="theme-preview-border theme-preview-secondary-color" cx="85" cy="55" r="10" />
										</g>
									)
								}
							</svg>

							<strong>{theme.name}</strong>
							<small><em>{theme.description}</em></small>
							{
								!theme.accessible && (
									<small>
										<Icon name="uil:exclamation-triangle" title="Warning icon" />
										<strong>Warning: Theme is not fully accessible</strong>
									</small>
								)
							}
						</label>
					))
				}
			</div>

			<footer>
				<button type="submit" popovertarget="theme-switcher-dialog" popovertargetaction="hide">Apply theme</button>
			</footer>
		</form>
	</dialog>
</aside>
