---
import { BLOG_LOGO_MICRO_ALT, BLOG_LOGO_MINI_ALT, BLOG_URL } from '../../constants';

import './styles.css';

import logoMini from '../../assets/images/logo-blog-mini.svg';
import logoMicro from '../../assets/images/logo-blog-micro.svg';

const linkTitle = 'Back to blog';
---
<nav id="back-to-blog" aria-label="Primary navigation">
	<a id="link-mobile" href={BLOG_URL} title={linkTitle} aria-label={linkTitle}>
		<img
			src={logoMini.src}
			width={logoMini.width}
			height={logoMini.height}
			alt={BLOG_LOGO_MINI_ALT}
		/>
	</a>
	<a id="link-desktop" href={BLOG_URL} title={linkTitle} aria-label={linkTitle}>
		<img
			src={logoMicro.src}
			width={logoMicro.width}
			height={logoMicro.height}
			alt={BLOG_LOGO_MICRO_ALT}
		/>
	</a>
</nav>
