---
import { BLOG, BLOG_TAGS } from '../../../constants.js';
import { join } from '../../../utils/path.js';

import PageHeader from '../../../components/PageHeader/index.astro';
import BaseLayout from '../../../layouts/Base.astro';

import { listTags } from '../../../utils/post';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/tags.css';

import logoBlog from '../../../assets/images/logo/logo-blog.svg';
import blogSocialImage from '../../../assets/images/social/social-blog.png';

const tags = await listTags();
---
<BaseLayout
	htmlTitle={BLOG_TAGS.title}
	title={BLOG_TAGS.titleString}
	description={BLOG_TAGS.description}
	url={BLOG_TAGS.url}
	tags={BLOG_TAGS.tags}
	hasFeed={true}
	pageSchema="ItemList"
	image={blogSocialImage.src}
	imageAlt={BLOG.logoAltText?.micro}
>
	<meta itemprop="name" content={BLOG_TAGS.titleString} />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={tags.length.toString()} />

	<PageHeader slot="header">
		<a href={BLOG.url} slot="logo">
			<img
				src={logoBlog.src}
				width={logoBlog.width}
				height={logoBlog.height}
				alt={BLOG.logoAltText?.regular}
			/>
		</a>
		{BLOG_TAGS.titleString}
	</PageHeader>

	<div id="contents">
		<ul id="tag-list">
			{
				tags.map((tag) => (
					<li class="tag">
						<a href={join([BLOG_TAGS.url, tag])} itemprop="url">
							<span itemprop="itemListElement">{tag}</span>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</BaseLayout>
