---
import { BLOG_TAGS, BLOG_TAGS_DESCRIPTION, BLOG_TAGS_TITLE, BLOG_TAGS_TITLE_STRING, BLOG_TAGS_URL } from '../../../constants';

import BaseLayout from '../../../layouts/Base.astro';
import BlogPageHeader from '../../../components/BlogPageHeader/index.astro';
import SiteNav from '../../../components/SiteNav/index.astro';

import { listTags } from '../../../utils/post';

import '../../../assets/css/pages/internal-page.css';
import '../../../assets/css/pages/tags.css';

const tags = await listTags();
---
<BaseLayout
	htmlTitle={BLOG_TAGS_TITLE}
	title={BLOG_TAGS_TITLE_STRING}
	description={BLOG_TAGS_DESCRIPTION}
	url={BLOG_TAGS_URL}
	tags={BLOG_TAGS}
	hasFeed={true}
	pageSchema="ItemList"
>
	<meta itemprop="name" content={BLOG_TAGS_TITLE_STRING} />
	<link itemprop="itemListOrder" href="https://schema.org/ItemListUnordered" />
	<meta itemprop="numberOfItems" content={tags.length.toString()} />

	<BlogPageHeader title={BLOG_TAGS_TITLE_STRING} slot="header" />


	<div id="contents">
		<ul id="tag-list">
			{tags.map((tag) => (
				<li class="tag">
					<a href={`${BLOG_TAGS_URL}/${tag}`} itemprop="url">
						<span itemprop="itemListElement">{tag}</span>
					</a>
				</li>
			))}
		</ul>
	</div>

	<footer slot="footer">
		<SiteNav />
	</footer>
</BaseLayout>
