---
import type { Post } from '../utils/post';

import BaseLayout from '../layouts/Base.astro';
import PostCard from '../components/PostCard/index.astro';
import Pagination from '../components/Pagination/index.astro';
import PageHeader from '../components/PageHeader/index.astro';
import SkipToContent from '../components/SkipToContent/index.astro';

import { BLOG } from '../constants';

import '../assets/css/pages/blog.css';

import blogSocialImage from '../assets/images/social/social-blog.png';

interface Props {
	posts: Post[],
	title?: string,
	baseUrl: string,
	currentUrl: string,
	currentPage: number,
	lastPage: number,
	prevUrl?: string,
	nextUrl?: string,
	start: number,
	end: number,
	total: number,
	size: number
}

const {
	title = '',
	posts,
	baseUrl, currentUrl,
	currentPage, lastPage,
	prevUrl, nextUrl,
	start, end, total, size
} = Astro.props;
---
<BaseLayout
	htmlTitle={[title, ...BLOG.title].filter(Boolean)}
	title={title ?? BLOG.titleString ?? ''}
	description={BLOG.description}
	tags={BLOG.tags}
	url={currentUrl}
	hasFeed={true}
	image={blogSocialImage.src}
	imageAlt={BLOG.logoAltText?.micro}
	pageSchema="Blog"
>
	<SkipToContent
		slot="header"
		target="posts-list"
	/>
	<PageHeader slot="header">
		<slot name="logo" slot="logo"></slot>
		<slot name="header"></slot>
	</PageHeader>

	<div id="posts-list">
		{posts.map((post) => (
			<PostCard
				url={`${BLOG.url}${post.url}`}
				title={post.data.title}
				createdAt={post.data.createdAt.toISOString()}
				image={post.data.image}
				imageAlt={post.data.imageAlt}
				tags={post.data.tags}
			>
				<span slot="title">{post.data.title}</span>
				{post.data.summary}
			</PostCard>
		))}
	</div>

	<footer slot="footer">
		<Pagination
			baseUrl={baseUrl}
			currentPage={currentPage}
			lastPage={lastPage}
			prevUrl={prevUrl}
			nextUrl={nextUrl}
			start={start}
			end={end}
			total={total}
			size={size}
		/>
	</footer>
</BaseLayout>
