---
import type { ImageProps } from '../content/config.ts';

import { BLOG_TAGS_URL, BLOG_URL } from '../constants';

import '../assets/css/pages/blog-post.css';
import '../assets/css/code.css';

import BaseLayout from './Base.astro';
import PostHeader from '../components/PostHeader/index.astro';

interface Props {
	title: string,
	summary: string,
	image?: ImageProps,
	imageAlt?: string,
	createdAt: Date,
	updatedAt?: Date,
	updates?: { date: Date, changes: string }[],
	tags?: string[],
	url: string
}

const { title, summary, image, imageAlt, createdAt, updatedAt, updates, url, tags } = Astro.props;
const postUrl = `${BLOG_URL}${url}`;
---
<BaseLayout
	title={`${title} | Blog | Marco Campos`}
	description={summary}
	tags={tags}
	url={postUrl}
	image={image?.src}
	imageAlt={imageAlt}
	createdAt={createdAt}
	updatedAt={updatedAt}
	pageSchema="BlogPosting"
>
	<PostHeader
		slot="header"
		title={title}
		image={image}
		imageAlt={imageAlt}
		createdAt={createdAt}
		updatedAt={updatedAt}
	/>

	<article id="post-contents" itemprop="articleBody" class="e-content">
		<slot></slot>
	</article>

	<footer slot="footer">
		{updates && (
			<aside>
				<details><summary>Update History</summary>
					<ul>
						{updates.map((update) => (
							<li>
								<time
									datetime={new Date(update.date).toISOString()}
									title={new Date(update.date).toISOString()}
								>
									{new Date(update.date).toLocaleDateString()}
								</time>
								<span>&mdash;</span>
								<span>{update.changes}</span>
							</li>
						))}
					</ul>
				</details>
			</aside>
		)}
		{tags && (
			<aside id="post-tags">
				<details>
					<summary>Tags</summary>
					<ul>
						{tags.map((tag) => (
							<li class="p-category"><a href={`${BLOG_TAGS_URL}/${tag}`} class="tag">{tag}</a></li>
						))}
					</ul>
				</details>
			</aside>
		)}
	</footer>
</BaseLayout>
